[flake8]
max-line-length = 120
exclude = .git, react, keys, templates, venv, **/migrations/*
ignore =
    # Codes that conflict with black, or are false warnings
    W503, E203,
    # flake8-import-order
    I100, I101, I201, I202
per-file-ignores =
    **/management/commands/*:T001