.container {
    text-align:center;
    word-wrap: break-word;
}

section.container {
    margin-top:-20px;
}

.alert {
    margin-bottom:0;
    padding:7px 5px;
}

.alert-main {
    margin-bottom:20px;
    padding:15px;
}

p {
    font-size:16px;
    margin-bottom:5px;
}

form {
    margin-top:20px;
}

.form-horizontal .control-label {
    padding-top:7px;
    margin-bottom:0;
    display:block;
    margin-bottom:5px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align:right;
        margin-bottom:0;
    }
}

.help-block {
    float:left;
    font-size:14px;
    margin-bottom:0px;
}

.help-block > ul {
    margin-bottom:0px;
}

.form-group > .form-group {
    margin-left:0px;
    margin-right:0px;
}

.has-error .control-label {
    color:black;
}

.media-heading {
    margin-top: 3px;
    margin-bottom:10px;
}


span.required {
    color: red;
    font-size:12px;
}

span.required:before {
    content: "*";
}


img.profile {
    height:200px;
    width:auto;
    float:left;
}

.alert-wrap {
    margin-top:0;
}

.login-form {
    margin-top:20px;
}

.login-form > .col-wrap {
    width:90%;
    max-width:350px;
    margin:0 auto;
}

.login-email-links {
    margin-top:5px;
    text-align:right;
}

.login-email-links a {
    color:#666;
}

.alert-invalid-account {
    margin-top:10px;
}

.btn-login {
    height:50px;
    line-height:40px;
    padding:5px 0;
    font-size:18px;
}

.btn-login > img {
    float:left;
    padding-left:10px;
    height:100%;
}

.btn-kaist, .btn-kaist:hover,
.btn-kaist:focus, .btn-kaist:active {
    background-color:rgb(1,67,143);
    color:white;
}

.btn-kaist.disabled {
    background-color: gray !important;
}

.btn-facebook, .btn-facebook:hover,
.btn-facebook:focus, .btn-facebook:active {
    background-color:rgb(59,87,157);
    color:white;
}

.btn-twitter, .btn-twitter:hover,
.btn-twitter:focus, .btn-twitter:active {
    background-color:rgb(0,172,238);
    color:white;
}


.social-icon > img {
    width:83px;
    height:83px;
}

.social-icon > img.disabled {
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}

.social-form .btn.disabled {
    background-color: gray;
}


.credit {
    text-align:left;
}

.credit img {
    width:100px;
    height:100px;
}


.doc {
    text-align:left;
}

.doc li {
    font-size:16px;
}

.doc li ul li {
    font-size:14px;
}

.doc h2 {
    border-bottom:1px solid #eee;
    padding-bottom:5px;
    margin-top:40px;
}

.doc .box {
    padding:20px;
    margin:20px 0;
    border:1px solid #eee;
    border-left-width: 5px;
}

.doc .box h4 {
    margin-top:0;
}

.doc .box p:last-child {
    margin-bottom:0;
}

.doc .box-warning {
    border-left-color:#aa6708;
}

.doc .box-warning h4 {
    color:#aa6708;
}

.doc .box-danger {
    border-left-color:#ce4844;
}

.doc .box-danger h4 {
    color:#ce4844;
}

.doc-header {
    margin-top:20px;
    margin-bottom:20px;
}


.jumbotron {
    padding-top:10px;
    padding-bottom:10px;
}

.jumbotron > p {
    margin-bottom:5px;
}


.service-row {
    margin-top:20px;
}

.service {
    width:150px;
    display:inline-block;
}

.service img {
    width:100px;
    height:100px;
    margin-bottom:5px;
}

.service p {
    font-weight:700;
    font-size:20px;
}

.service p.date {
    margin-top:0;
    font-size:12px;
    color:gray;
}


h1.err-title {
    margin:15px 0 10px;
    font-size:48px;
    font-weight:500;
}

p.err-code {
    margin:3px 0 10px;
    font-size:14px;
    color:#999999;
}


footer {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #e5e5e5;
}

footer .info a {
    color:#000;
}

footer p {
    font-size:14px;
    margin-bottom:3px;
}
