{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "globals": {
    "__DEV__": "readonly",
    "FormData": "readonly"
  },
  "rules": {
    "react/no-multi-comp": 0,
    "padded-blocks": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/destructuring-assignment": 0,
    "lines-between-class-members": 0,
    "default-case": 0,
    "react/jsx-wrap-multilines": 0,
    "react/button-has-type": 0,
    "quote-props": 0,
    "import/prefer-default-export": 0,
    "no-else-return": 0,
    "no-cond-assign": 0,
    "nonblock-statement-body-position": 0,
    "brace-style": 0,
    "react/sort-comp": 0,
    "no-lonely-if": 0,
    "curly": 0,
    "prefer-const": 0,


    "max-len": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
    "no-restricted-syntax": "off",
    "arrow-body-style": ["error", "as-needed"],
    "global-require": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "object-shorthand": 1,
    "react/prefer-stateless-function": 1,
    "react/prop-types": ["error", { "ignore": ["navigation"] }],
    "operator-assignment": 1,
    "prefer-destructuring": 1,
    "react/jsx-filename-extension": "off",
    "react/no-did-update-set-state": "off",
    "linebreak-style": 0,
    "no-class-assign": 1,
    "no-nested-ternary": 1,
    "no-unused-vars": 1
  }
}
