{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "eslint-config-airbnb",
  "globals": {
    "__DEV__": "readonly",
    "FormData": "readonly"
  },
  "plugins": [
    "no-loops",
    "fp"
  ],
  "rules": {
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/button-has-type": 0,
    "react/no-find-dom-node": 0,
    "prefer-destructuring": 1,


    "brace-style": [2, "stroustrup"],
    "camelcase": 1,
    "max-len": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
    "arrow-body-style": ["warn", "as-needed"],
    "object-curly-newline": ["error", { "consistent": true }],
    "object-shorthand": [1, "never"],
    "operator-assignment": 1,
    "react/destructuring-assignment": 1,
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": [2, {"ignore": ["match", "t", "i18n"]}],
    "no-console": "error",
    "no-loops/no-loops": "error",
    "no-nested-ternary": "off",
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "no-unused-vars": ["error", {"args": "none"}],

    "fp/no-arguments": "warn",
    "fp/no-class": "off",
    "fp/no-delete": "warn",
    "fp/no-events": "warn",
    "fp/no-get-set": "warn",
    "fp/no-let": "warn",
    "fp/no-loops": "warn",
    "fp/no-mutating-assign": "warn",
    "fp/no-mutating-methods": "warn",
    "fp/no-mutation": ["warn", {"exceptions": [{"property": "propTypes"}, {"property": "state"}, {"property": "interval"}, {"property": "scrollTop"}, {"property": "scrollLeft"}]}],
    "fp/no-nil": "off",
    "fp/no-proxy": "warn",
    "fp/no-rest-parameters": "warn",
    "fp/no-this": "off",
    "fp/no-throw": "warn",
    "fp/no-unused-expression": "off",
    "fp/no-valueof-field": "warn"
  }
}
