{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "globals": {
    "__DEV__": "readonly",
    "FormData": "readonly"
  },
  "plugins": [
    "no-loops"
  ],
  "rules": {
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/button-has-type": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "prefer-destructuring": 1,


    "brace-style": [2, "stroustrup"],
    "camelcase": 1,
    "max-len": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
    "arrow-body-style": ["warn", "as-needed"],
    "object-curly-newline": ["error", { "consistent": true }],
    "object-shorthand": [1, "never"],
    "operator-assignment": 1,
    "react/destructuring-assignment": 1,
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 1,
    "react/prefer-stateless-function": 0,
    "no-case-declarations": 1,
    "no-console": "error",
    "no-else-return": 1,
    "no-lonely-if": 1,
    "no-loops/no-loops": "error",
    "no-nested-ternary": "off",
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "no-unused-vars": ["error", {"args": "none"}]
  }
}
