{% extends "review/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/css/header1.css">
  <link rel="stylesheet" type="text/css" href="/media/css/view1.css">
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
    $('#category').on('focus', function() {
      $('#m-category').modal('show');
    });
  </script>
{% endblock %}

{% block header %}
  {% include 'review/template/header1.html' %}
{% endblock %}

{% block contents %}
  <div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-16 text-center">
      <form role="form" class="form-inline row">
        <div class="col-xs-6">
          <input type="text" class="form-control" value="기필 외 2개">
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" value="전체 학과">
        </div>
        <div class="col-xs-10">
          <input type="text" class="form-control">
        </div>
        <div class="col-xs-2">
          <input type="submit" class="btn btn-danger" value="검색">
        </div>
      </form>
    </div>
    <div class="col-xs-4">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-22 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-4">
      <h2 class="text-center">
        사랑받는 교양 후기
      </h2>
      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

    </div>
    <div class="col-xs-22 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-0 col-lg-8 col-lg-offset-0">
      <h2 class="text-center">
        사랑받는 전공 후기
      </h2>
      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

      <div class="panel panel-default review">
        <button class="likes">
          +{{ comment.like }}31
        </button>
        <div class="panel-header">
          <h4>
            Special Lecture on Art [사랑의 담론]
          </h4>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            수업을 통해 읽어야 할 텍스트가 20여권이 됩니다.<br>
            이 텔스트들을 함께 읽으며 수업을 들으면 정말 많은 생각을 해볼 수 있는 수업이 되는 듯 하고 이 텍스트들을 읽지 않고 수업을 들으면 정말 별로 남는게 없는 수업인 듯 합니다.
          </p>
	      </div>
        <div class="panel-footer text-right">
          <span>
            성적 <span class="grade">A+</span>
          </span>
          <span>
            널널 <span class="grade">A+</span>
          </span>
          <span>
            강의 <span class="grade">A+</span>
          </span>
          <span>
            종합 <span class="grade">A+</span>
          </span>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block modals %}
  {{ block.super }}
  <div id="m-category" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" class="form" method="get" action="result/">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Category 검색</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-24">
                <p>학과</p>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전산과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전자과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 기계과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전산과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전자과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 기계과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전산과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전자과
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 기계과
                  </label>
                </div>
                <p>구분</p>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 기필
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전필
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 전선
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 자선
                  </label>
                </div>
                <p>학점</p>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 1학점
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 2학점
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 3학점
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 4학점
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <input type="submit" class="btn btn-primary" value="검색">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
