{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]--><!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
<![endif]--><!--[if IE 8]>
  <html class="no-js lt-ie9">
<![endif]--><!--[if gt IE 8]><!-->
  <html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% block title %}{% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block metatags %}
    {% endblock %}

    <link rel="shortcut icon" href="/media/img/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.min.css">
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>

    {% block header %}
    {% endblock %}

    {% block container %}
      <section id="content" class="container-fluid">
        {% block content %}
        {% endblock %}
      </section>
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block modals %}
    {% endblock %}

    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/underscore.js"></script>
    <script src="/media/js/backbone.js"></script>
    <script src="/media/js/timetable/sync.js"></script>
    <script src="/media/js/timetable/models/searchKeyword.js"></script>
    <script src="/media/js/timetable/models/lecture.js"></script>
    <script src="/media/js/timetable/models/lectureActive.js"></script>
    <script src="/media/js/timetable/models/timetable.js"></script>
    <script src="/media/js/timetable/models/yearSemester.js"></script>
    <script src="/media/js/timetable/collections/timetables.js"></script>
    <script src="/media/js/timetable/collections/lectureList.js"></script>
    <script src="/media/js/timetable/views/timetable-view.js"></script>
    <script src="/media/js/timetable/views/search-view.js"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
