<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Fetch</title>
</head>
<body>
    Lecture name: <input id="lecture_name" type="text" name="lecture_name">
    Professor id: <input id="professor_id" type="text" name="professor_id">
    <input id="submit-button" type="button" value="Search">

    <p id="fetch-result">fetch result</p>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function infoSubmit(e) {
            $('#fetching-message').show();
            $.ajax({
                type: 'POST',
                url: '/timetable/ajax/fetch_temp/',
                data: {
                    'lecture_name': document.getElementById('lecture_name').value,
                    'professor_id': document.getElementById('professor_id').value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    // do something with response
                    document.getElementById('fetch-result').innerHTML = '';
                    var i;
                    for (i=0; i < response.length; i++) {
                        var comment_json = {};
                        comment_json.info = response[i].fields;
                        comment_json.link = "https://otlplus.sparcs.org/review/result/comment/"+ response[i].pk.toString() + "/";
                        console.log(comment_json);
                        document.getElementById('fetch-result').innerHTML += JSON.stringify(comment_json)+'<br>';
                    }
                }
            });
        }
        $('#professor_id').on('keypress', function (e) {
            if (e.which === 13) {
                infoSubmit(e);
            }
        });
        $('#submit-button').click(function (e) {
            infoSubmit(e);
        })
    </script>
</body>
</html>