<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable Search</title>
</head>
<body>
    <input id="old_code" type="text" name="old_code">
    <input id="class_no" type="text" name="class_no">
    <input id="submit-button" type="button" value="Search">
    <p id="fetch-result">fetch result</p>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function keywordSubmit(e) {
            $('#fetching-message').show();
            $.ajax({
                type: 'POST',
                url: '/timetable/ajax/fetch_temp/',
                data: {
                    'old_code': document.getElementById('old_code').value,
                    'class_no': document.getElementById('class_no').value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    // do something with response
                    document.getElementById('fetch-result').innerHTML = '';
                    var i;
                    for (i=0; i < response.length; i++) {
                        document.getElementById('fetch-result').innerHTML += JSON.stringify(response[i].fields)+'<br>';
                    }
                }
            });
        }
        $('#old_code').on('keypress', function (e) {
            if (e.which === 13) {
                keywordSubmit(e);
            }
        });
        $('#submit-button').click(function (e) {
            keywordSubmit(e);
        })
    </script>
</body>
</html>