{% extends 'timetable/layout.html' %}
{% load i18n %}
{% block content %}
<!--한글로 된 부분은 trans가 적용되어 있던 부분이나 현 장고 버전에서는 따로 설정을 해야 사용 가능하므로 일단 적용하지 않았다.--> 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div id="page-container">
	<div id="left-side">
		<div id="lecture-info">
			<!-- Lecture Detail Inserted Here -->
		</div>
		<div id="search-container">
			<div id="search-colheaders">
				<button class="search-chead search active"><i class="search-tab-icon"></i></button>
				<button class="search-chead cart"><i class="search-tab-icon"></i></button>
				<button class="search-chead major"><i class="search-tab-icon"></i></button>
				<button class="search-chead humanity"><i class="search-tab-icon"></i></button>
			</div>
			<div id="result-pages">
				<div class="search-page">
					<div class="search-extend">
						<div class="search-form-wrap">
							<form method="post">
								{% csrf_token %}
								<!-- ajax call -->
								<div class="search-field">
									<i class="search-icon"></i>
									<input class="search-text" type="text" name="keyword" autocomplete="off" placeholder="검색" />
								</div>
								<div id="lecturelist-filter">
									<div class="filters">
										<label class="type-name">분류</label><!--
								 --><div class="type-elem">
											<label>
												<input class="chkall" type="checkbox" autocomplete="off" name="type" value="ALL" />전체<i class="fa fa-circle-o fa-1x none"></i><i class="fa fa-check-circle-o fa-1x"></i>
											</label>
											{% for i in "1234567890" %}
											<label>
												<input class="chkelem" type="checkbox" autocomplete="off" name="type" value="{% cycle "GR" "MGC" "BE" "BR" "EG" "HSE" "OE" "ME" "MR" "ETC" %}" />{% cycle "공통" "교필" "기선" "기필" "석박" "인선" "자선" "전선" "전필" "기타" %}<i class="fa fa-circle-o fa-1x"></i><i class="fa fa-check-circle-o fa-ix none"></i>
											</label>
											{% endfor %}
										</div>
									</div>
									<div class="filters">
										<label class="type-name">학과</label><!--
								 --><div class="type-elem">
											<label>
												<input class="chkall" type="checkbox" autocomplete="off" name="department" value="ALL" />전체<i class="fa fa-circle-o fa-1x none"></i><i class="fa fa-check-circle-o fa-1x"></i>
											</label>
											{% for i in "123456789012345678" %}
											<label>
												<input class="chkelem" type="checkbox" autocomplete="off" name="department" value="{% cycle "HSS" "CE" "MSB" "ME" "PH" "BiS" "IE" "ID" "BS" "MAS" "NQE" "EE" "CS" "AE" "CH" "ETC" "CBE" "NS" %}" />{% cycle "인문" "건환" "기경" "기계" "물리" "바공" "산공" "산디" "생명" "수리" "원양" "전자" "전산" "항공" "화학" "기타" "생화공" "신소재" %}<i class="fa fa-circle-o fa-1x"></i><i class="fa fa-check-circle-o fa-ix none"></i>
											</label>
											{% endfor %}
										</div>
									</div>
									<div class="filters">
										<label class="type-name">학년</label><!--
								 --><div class="type-elem">
											<label>
												<input class="chkall" type="checkbox" autocomplete="off" name="grade" value="ALL" />전체<i class="fa fa-circle-o fa-1x none"></i><i class="fa fa-check-circle-o fa-1x"></i>
											</label>
											{% for i in "012345" %}
											<label>
												<input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="{% cycle "000" "100" "200" "300" "400" "ETC" %}" />{% cycle "000번대" "100번대" "200번대" "300번대" "400번대" "기타"%}<i class="fa fa-circle-o fa-1x"></i><i class="fa fa-check-circle-o fa-ix none"></i>
											</label>
											{% endfor %}
										</div>
									</div>
									<div class="filters filter-time">
										<label class="type-name">시간</label><!--
								 --><div class="type-elem">
											<label>
												선택하기
											</label>
										</div>
									</div>
								</div>
								<div style="height:11px">
									<span type="button" id="search-button">검색</span>
									<span type="button" id="search-cancel">취소</span>
								</div>
							</form>
						</div>
					</div>
					<div class="result-message">
						<i class="result-icon"></i><div class="result-text">검색</div>
					</div>
					<div class="list-scroll">
						<!-- Search Result Inserted Here -->
					</div>
				</div>
				<div class="cart-page none">
					<div class="page-title">
						장바구니
					</div>
					<div class="list-scroll">
						<div class="list-elem">
							<div class="list-elem-title"><strong>시스템프로그래밍</strong> CS230</div>
							<div class="list-elem-body-wrap"><div class="list-elem-body"><div class="list-elem-body-text"><strong>A</strong> 허재혁</div><i class="delete-from-cart"></i><i class="add-to-table"></i></div></div>
						</div>
						<div class="list-elem">
							<div class="list-elem-title"><strong>데이타구조</strong> CS206</div>
							<div class="list-elem-body-wrap"><div class="list-elem-body"><div class="list-elem-body-text"><strong>A</strong> 정지원</div><i class="add-to-cart"></i><i class="add-to-table"></i></div></div>
							<div class="list-elem-body-wrap"><div class="list-elem-body"><div class="list-elem-body-text"><strong>C</strong> 정지원</div><i class="add-to-cart"></i><i class="add-to-table"></i></div></div>
						</div>
					</div>
				</div>
				<div class="major-page none">
					<div class="page-title">
						전산학부 전공
					</div>
					<div class="list-scroll">
						<!-- Lecture list inserted here -->
					</div>
				</div>
				<div class="humanity-page none">
					<div class="page-title">
						인문사회선택
					</div>
					<div class="list-scroll">
						<!-- Lecture list inserted here -->
					</div>
				</div>
			</div>
		</div><!--div search-container-->
	</div><!--div left-side-->	
	<div id="center">
		<div id="timetable-menu">
			<div id="timetable-tabs" style="clear:both;">
				<a href="#/1" class="timetable-tab active"><span class="timetable-num">시간표 1</span><span class="hidden-option"><i class="duplicate-table"></i><i class="delete-table"></i></span></a>
				<a class="timetable-add"><span class="timetable-num"><i class="add-table"></i></span></a>
			</div>
                        <div id="semester">
				<i id="semester-prev"></i>
				<span id="semester-text">2016 봄</span>
				<i id="semester-next"></i>
                        </div>
		</div>
		<div id="timetable">
			<div id="timetable-wrap">
				<div id="timetable-contents">
					<div id="rowheaders">
						<div class="chead"></div>
						<div class="rhead"><span class="rheadtext">8</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">9</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">10</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">11</span></div>
						<div class="rhead"></div>
						<div class="rhead rhead-bold"><span class="rheadtext">12</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">1</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">2</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">3</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">4</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">5</span></div>
						<div class="rhead"></div>
						<div class="rhead rhead-bold"><span class="rheadtext">6</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">7</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">8</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">9</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">10</span></div>
						<div class="rhead"></div>
						<div class="rhead"><span class="rheadtext">11</span></div>
						<div class="rhead"></div>
						<div class="rhead rhead-bold"><span class="rheadtext">12</span></div>
						<div class="chead"></div>
						<div class="rhead"></div>
						<div class="rhead"></div>
						<div class="rhead rhead-last"></div>
					</div>
					<div class="day">
						<div class="chead">{% trans "월요일" %}</div>
						<div class="cell1 half table-drag" data-day='mon' data-time='800'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='830'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='900'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='930'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1000'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1030'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1100'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1130'></div>
						<div class="cell-bold cell1 half table-drag" data-day='mon' data-time='1200'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1230'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1300'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1330'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1400'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1430'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1500'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1530'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1600'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1630'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1700'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1730'></div>
						<div class="cell-bold cell1 half table-drag" data-day='mon' data-time='1800'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1830'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='1900'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='1930'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='2000'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='2030'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='2100'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='2130'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='2200'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='2230'></div>
						<div class="cell1 half table-drag" data-day='mon' data-time='2300'></div>
						<div class="cell2 half table-drag" data-day='mon' data-time='2330'></div>
						<div class="cell-bold cell1 half"></div>
						<div class="chead"></div>
						<div class="cell1 half"></div>
						<div class="cell2 half"></div>
						<div class="cell2 half cell-last"></div>
					</div>
					<div class="day">
						<div class="chead">{% trans "화요일" %}</div>
						<div class="cell1 half table-drag" data-day='tue' data-time='800'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='830'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='900'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='930'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1000'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1030'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1100'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1130'></div>
						<div class="cell-bold cell1 half table-drag" data-day='tue' data-time='1200'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1230'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1300'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1330'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1400'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1430'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1500'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1530'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1600'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1630'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1700'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1730'></div>
						<div class="cell-bold cell1 half table-drag" data-day='tue' data-time='1800'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1830'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='1900'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='1930'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='2000'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='2030'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='2100'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='2130'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='2200'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='2230'></div>
						<div class="cell1 half table-drag" data-day='tue' data-time='2300'></div>
						<div class="cell2 half table-drag" data-day='tue' data-time='2330'></div>
						<div class="cell-bold cell1 half"></div>
						<div class="chead"></div>
						<div class="cell1 half"></div>
						<div class="cell2 half"></div>
						<div class="cell2 half cell-last"></div>
					</div>
					<div class="day">
						<div class="chead">{% trans "수요일" %}</div>
						<div class="cell1 half table-drag" data-day='wed' data-time='800'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='830'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='900'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='930'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1000'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1030'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1100'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1130'></div>
						<div class="cell-bold cell1 half table-drag" data-day='wed' data-time='1200'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1230'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1300'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1330'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1400'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1430'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1500'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1530'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1600'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1630'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1700'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1730'></div>
						<div class="cell-bold cell1 half table-drag" data-day='wed' data-time='1800'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1830'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='1900'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='1930'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='2000'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='2030'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='2100'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='2130'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='2200'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='2230'></div>
						<div class="cell1 half table-drag" data-day='wed' data-time='2300'></div>
						<div class="cell2 half table-drag" data-day='wed' data-time='2330'></div>
						<div class="cell-bold cell1 half"></div>
						<div class="chead">{% trans "토/일/시간없음" %}</div>
						<div class="cell1 half"></div>
						<div class="cell2 half"></div>
						<div class="cell2 half cell-last"></div>
					</div>
					<div class="day">
						<div class="chead">{% trans "목요일" %}</div>
						<div class="cell1 half table-drag" data-day='thu' data-time='800'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='830'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='900'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='930'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1000'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1030'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1100'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1130'></div>
						<div class="cell-bold cell1 half table-drag" data-day='thu' data-time='1200'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1230'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1300'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1330'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1400'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1430'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1500'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1530'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1600'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1630'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1700'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1730'></div>
						<div class="cell-bold cell1 half table-drag" data-day='thu' data-time='1800'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1830'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='1900'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='1930'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='2000'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='2030'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='2100'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='2130'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='2200'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='2230'></div>
						<div class="cell1 half table-drag" data-day='thu' data-time='2300'></div>
						<div class="cell2 half table-drag" data-day='thu' data-time='2330'></div>
						<div class="cell-bold cell1 half"></div>
						<div class="chead"></div>
						<div class="cell1 half"></div>
						<div class="cell2 half"></div>
						<div class="cell2 half cell-last"></div>
					</div>
					<div class="day">
						<div class="chead">{% trans "금요일" %}</div>
						<div class="cell1 half table-drag" data-day='fri' data-time='800'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='830'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='900'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='930'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1000'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1030'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1100'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1130'></div>
						<div class="cell-bold cell1 half table-drag" data-day='fri' data-time='1200'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1230'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1300'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1330'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1400'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1430'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1500'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1530'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1600'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1630'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1700'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1730'></div>
						<div class="cell-bold cell1 half table-drag" data-day='fri' data-time='1800'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1830'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='1900'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='1930'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='2000'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='2030'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='2100'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='2130'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='2200'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='2230'></div>
						<div class="cell1 half table-drag" data-day='fri' data-time='2300'></div>
						<div class="cell2 half table-drag" data-day='fri' data-time='2330'></div>
						<div class="cell-bold cell1 half"></div>
						<div class="chead"></div>
						<div class="cell1 half"></div>
						<div class="cell2 half"></div>
						<div class="cell2 half cell-last"></div>
					</div>
				</div>
				<div id="drag-cell" class="none">
					<i class="drag-close"></i>
					<div class="drag-text"><i class="drag-icon"></i>{% trans "과목 검색" %}</div>
					<div class="drag-text"><i class="drag-icon"></i>{% trans "일정 추가" %}</div>
				</div>
			</div><!--div timetable-wrap-->
			<div style="height:3px;"></div>
			<div id="right-side">
				<div id="map">
					<div id="map-container">
						<img id="map-img" src="/media/img/timetable/kaist_map.jpg">
					  {% for i in "1234" %}
						<div class="map-location {% cycle 'E11' 'N1' 'N4' 'N25'%} none" data-building="{% cycle 'E11' 'N1' 'N4' 'N25'%}" data-id="1234">
							<div class="map-location-box">
								<span class="map-location-text">{% cycle 'E11' 'N1' 'N4' 'N25'%}</span>
								<span class="map-location-circle"></span>
								<span class="map-location-circle"></span>
							</div>
							<div class="map-location-arrow-shadow"></div>
							<div class="map-location-arrow"></div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div id="info">
					<div id="type-credits">
						<div class="lecture-type" data-type="Basic Required">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "기필" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
						<div class="lecture-type-right" data-type="Basic Elective">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "기선" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
						<div class="lecture-type" style="clear:both;" data-type="Major Required">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "전필" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
						<div class="lecture-type-right" data-type="Major Elective">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "전선" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
						<div class="lecture-type" style="clear:both;" data-type="Humanities & Social Elective">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "인문" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
						<div class="lecture-type-right" data-type="Etc">
							<span class="lecture-type-span fixed-{{ LANGUAGE_CODE }}">{% trans "기타" %}&nbsp;&nbsp;</span>
							<span class="credit-text">0</span>
							<span class="active-credit"></span>
						</div>
					</div>
					<div id="total-credits">
						<div class="total-credit">
							<div id="credits" class="score-text"><span class="normal">0</span><span class="active none">0</span></div>
							<div class="score-label">{% trans "학점" %}</div>
						</div>
						<div class="total-credit">
							<div id="au" class="score-text"><span class="normal">0</span><span class="active none">0</span></div>
							<div class="score-label">{% trans "AU" %}</div>
						</div>
					</div>
					<div id="table-scores">
						<div class="table-score">
							<div id="grades" class="score-text">A-</div>
							<div class="score-label">{% trans "성적" %}</div>
						</div>
						<div class="table-score">
							<div id="loads" class="score-text">B+</div>
							<div class="score-label">{% trans "널널" %}</div>
						</div>
						<div class="table-score">
							<div id="speeches" class="score-text">B</div>
							<div class="score-label">{% trans "강의" %}</div>
						</div>
					</div>
				</div>
				<div id="examtitle"><span>{% trans "시험시간표" %}</span></div>
				<div id="examtable">
					<div class="examtime" data-date="mon">
						<div class="exam-chead fixed-{{ LANGUAGE_CODE }}"><span>{% trans "월" %}</span></div>
						<div class="exam-body">
							<ul id="examlist1" class="examlist">
								<!-- Exams inserted here -->
							</ul>
						</div>
					</div>
					<div class="examtime" data-date="tue">
						<div class="exam-chead fixed-{{ LANGUAGE_CODE }}"><span>{% trans "화" %}</span></div>
						<div class="exam-body">
							<ul id="examlist2" class="examlist">
								<!-- Exams inserted here -->
							</ul>
						</div>
					</div>
					<div class="examtime" data-date="wed">
						<div class="exam-chead fixed-{{ LANGUAGE_CODE }}"><span>{% trans "수" %}</span></div>
						<div class="exam-body">
							<ul id="examlist3" class="examlist">
								<!-- Exams inserted here -->
							</ul>
						</div>
					</div>
					<div class="examtime" data-date="thu">
						<div class="exam-chead fixed-{{ LANGUAGE_CODE }}"><span>{% trans "목" %}</span></div>
						<div class="exam-body">
							<ul id="examlist4" class="examlist">
								<!-- Exams inserted here -->
							</ul>
						</div>
					</div>
					<div class="examtime" data-date="fri">
						<div class="exam-chead fixed-{{ LANGUAGE_CODE }}"><span>{% trans "금" %}</span></div>
						<div class="exam-body">
							<ul id="examlist5" class="examlist">
								<!-- Exams inserted here -->
							</ul>
						</div>
					</div>
				</div><!--div exam-table-->
				<div id="small-buttons">
					<div id="facebook">
					</div>
					<div id="twiter">
					</div>
					<div id="image">
					</div>
					<div id="calendar">
					</div>
					<div id="copy">
					</div>
				</div>
			</div><!--div right-side-->
		</div><!--div timetable-->
	</div><!--div center-->
</div>

<script type="text/template" id="timetable-lecture-template">
<div class="lecture-block color<%- color %> <% if (temp) {%>lecture-block-temp active<% } %>" data-id="<%- id %>" data-cells="<%- cells %>">
  <i class="lecture-delete"></i>
  <p class="timetable-lecture-name"><%- title %></p>
  <p class="timetable-lecture-info"><%- professor %></p>
  <p class="timetable-lecture-info"><%- classroom %></p>
</div>
</script>

<script type="text/template" id="list-template">
<% _.each(courses, function(course) { %>
<div class="list-elem">
  <div class="list-elem-title"><strong><%- course[0].get('format_common_title') %></strong> <%- course[0].get('old_code') %></div>
  <% _.each(course, function(lecture) { %>
  <div class="list-elem-body-wrap" data-id="<%- lecture.get('id') %>">
    <div class="list-elem-body">
      <div class="list-elem-body-text">
      	<% switch (lecture.get('format_class_title').length) { case 1: %>
        <strong class="class-title fixed-1" ><%- lecture.get('format_class_title') %></strong>
        <% break; case 2: %>
        <strong class="class-title fixed-2" ><%- lecture.get('format_class_title') %></strong>
      	<% break; default: %>
        <strong class="class-title" ><%- lecture.get('format_class_title') %></strong>
      	<% } %>
      	<span class="class-prof">
        <%- lecture.get('format_professor_str') %>
      	</span>
       </div>
       <i class="add-to-cart"></i>
       <i class="add-to-table"></i>
    </div>
  </div>
  <% }); %>
</div>
<% }); %>
</script>

<script type="text/template" id="lecture-detail-template">
  <div class="lecture-detail">
		<div id="course-title" style="text-align:center;"><span><%- title %></span></div>
		<div id="course-no" style="text-align:center;"><span><%- old_code %><% if(class_no.length>0) { %> (<%- class_no %>)<% } %></span></div>
		<div class="lecture-options">
			<span id="fix-option" class="disable" style="float:left;">{% trans "고정해제" %}</span>
			<span id="syllabus-option"><a href="https://cais.kaist.ac.kr/syllabusInfo?year=<%- year %>&term=<%- semester %>&subject_no=<%- code %>&lecture_class=<%- class_no %>&dept_id=<%- department %>" target="_blank">{% trans "실라버스" %}</a></span>&nbsp;
			<span id="dictionary-option"><a href="/review/dictionary/<%- old_code %>" target="_blank">{% trans "과목사전" %}</a></span>
		</div>
		<div class="detail-top">
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "학과" %}</span><span id="department"><%- format_dept_name %></span></div>
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "구분" %}</span><span id="course-type"><%- type %></span></div>
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "교수" %}</span><span id="instructor"><%- format_professor_str %></span></div>
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "장소" %}</span><span id="classroom"><%- format_classroom %></span></div>
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "정원" %}</span><span id="class-size"><%- limit %></span></div>
			<div class="basic-info"><span class="basic-info-name fixed-{{ LANGUAGE_CODE }}">{% trans "시험" %}</span><span id="exam-time"><%- format_exam %></span></div>
			<div class="lecture-scores">
				<div class="lecture-score">
					<% if (is_english) { %>
					<div id="language" class="score-text">Eng</div>
					<% } else { %>
					<div id="language" class="score-text" style="">한</div>
					<% } %>
					<div class="score-label">{% trans "언어" %}</div>
				</div><!--
		 --><div class="lecture-score">
					<% if ((credit > 0) && (credit_au == 0)) { %>
					<div id="credit" class="score-text"><%- credit %></div>
					<div class="score-label">{% trans "학점" %}</div>
					<% } else { %>
					<div id="credit" class="score-text"><%-credit_au %></div>
					<div class="score-label">AU</div>
					<% } %>
				</div><!--
		 --><div class="lecture-score">
					<div id="rate" class="score-text">
						<% if (limit == 0) { %>
						0.0:1
						<% } else { %>
						<%- (num_people/limit).toFixed(1) %>:1
						<% } %>
					</div>
					<div class="score-label">{% trans "경쟁률" %}</div>
				</div>
			</div>
			<div class="lecture-scores">
				<div class="lecture-score" style="clear:both;">
					<div id="grade" class="score-text"><%- format_grade %></div>
					<div class="score-label">{% trans "성적" %}</div>
				</div><!--
		 --><div class="lecture-score">
					<div id="load" class="score-text"><%- format_load %></div>
					<div class="score-label">{% trans "널널" %}</div>
				</div><!--
		 --><div class="lecture-score">
					<div id="speech" class="score-text"><%- format_speech %></div>
					<div class="score-label">{% trans "강의" %}</div>
				</div>
			</div>
			<div class="basic-info dictionary-preview open-dict-button">
				<span style="font-weight:700;">{% trans "과목 후기" %}</span><i class="open-dict-preview"></i>
			</div>
		</div>
		<div class="detail-bottom none">
			<div class="basic-info dictionary-preview close-dict-button">
				<span style="font-weight:700;">{% trans "과목 후기" %}</span><i class="close-dict-preview"></i>
			</div>
			<div class="list-scroll">
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
				<div class="review-elem">
					<div class="review-body">
						1) 성적: 출석과 과제와 랩 task는 모두 포인트를 쌓을 뿐(시험 응시 자격용) 성적과는 무관하기 때문에 적당히 <span class="review-more">...{% trans "더 보기" %}</span>
					</div>
					<div class="review-score-wrap">
						<span class="review-score">{% trans "성적" %} <strong>A</strong></span><span class="review-score">{% trans "널널" %} <strong>A</strong></span><span class="review-score">{% trans "강의" %} <strong>A</strong></span>
					</div>
				</div>
			</div>
		</div>
  </div>
</script>

<script type="text/template" id="timetable-tab-template">
<% _.each(ids, function(id, idx){ %>
<a href="#/<%- idx+1 %>" class="timetable-tab" data-id="<%- id %>"><span class="timetable-num">{% trans "시간표" %} <%- idx+1 %></span><span class="hidden-option"><i class="duplicate-table"></i><i class="delete-table"></i></span></a>
<% }); %>
<a class="timetable-add"><span class="timetable-num"><i class="add-table"></i></span></a>
</script>


<script type="text/template" id="exam-template">
<li class="exam-box <% if (temp) { %>temp active<% } %>" data-id=<%- id %> data-start=<%- startTime %>>
	<div class="exam-course"><%- title %></div>
	<div class="exam-time"><%- examTime %></div>
</li>
</script>

<script type="text/template" id="semester-lecture-template">
<div class="lecture-detail">
	<div id="course-title" style="text-align:center;"><span><%- title %></span></div>
	<div id="course-no" style="text-align:center;"><span><%- lectures.length %>{% trans "개의 과목" %}</span></div>
	<div class="lecture-options">
		<span id="color-option" style="float:left;">{% trans "색상 변경" %}</span>
		<span id="syllabus-option">{% trans "실라버스" %}</span>&nbsp;
		<span id="dictionary-option">{% trans "과목사전" %}</span>
	</div>
	<div class="detail-top">
		<% _.each(lectures, function(lecture){ %>
		<div class="basic-info"><span style="font-weight:700;"><%- lecture.title %>&nbsp;&nbsp;</span><span id="department"><%- lecture.info %></span></div>
		<% }); %>
	</div>
</div>
</script>

{% endblock %}
