{% extends 'timetable/layout.html' %}
{% block content %}
<!--한글로 된 부분은 trans가 적용되어 있던 부분이나 현 장고 버전에서는 따로 설정을 해야 사용 가능하므로 일단 적용하지 않았다.--> 
<div id="page-container">
	<div id="left-side">
		<div id="lecture-info">
      <!--<div class="lecture-detail">
				<div style="text-align:center;"><span id="course-title">프로그래밍기초</span></div>
				<div style="text-align:center;margin-top:1px;"><span id="course-no">CS101(B)</span></div>
				<div class="lecture-options">
					<span id="color-option" style="float:left;">색상 변경</span>
					<span id="syllabus-option">실라버스&nbsp;</span>
					<span id="dictionary-option">과목사전</span>
				</div>
				<div class="basic-info"><span style="font-weight:700;">학과&nbsp;&nbsp;</span><span id="department">전산학부</span></div>
				<div class="basic-info"><span style="font-weight:700;">구분&nbsp;&nbsp;</span><span id="course-type">기초필수</span></div>
				<div class="basic-info"><span style="font-weight:700;">교수&nbsp;&nbsp;</span><span id="instructor">김순태</span></div>
				<div class="basic-info"><span style="font-weight:700;">장소&nbsp;&nbsp;</span><span id="classroom">E11 창f의학습관 303호</span></div>
				<div class="basic-info"><span style="font-weight:700;">정원&nbsp;&nbsp;</span><span id="class-size">45</span></div>
				<div class="basic-info"><span style="font-weight:700;">시험&nbsp;&nbsp;</span><span id="exam-time">금요일 9:00 ~ 12:00</span></div>
				<div class="lecture-scores">
					<div class="lecture-score">
						<span id="language">Eng</span><br/>
						<span>언어</span>
					</div>
					<div class="lecture-score">
						<span id="credit">3</span><br/>
						<span>학점</span>
					</div>
					<div class="lecture-score">
						<span id="rate">1.2:1</span><br/>
						<span>경쟁률</span>
					</div>
				</div>
				<div class="lecture-scores">
					<div class="lecture-score" style="clear:both;">
						<span id="grade">B</span><br/>
						<span>성적</span>
					</div>
					<div class="lecture-score">
						<span id="load">B-</span><br/>
						<span>널널</span>
					</div>
					<div class="lecture-score">
						<span id="speech">B-</span><br/>
						<span>강의</span>
					</div>
				</div>
        <div class="dictionary-preview"style="margin-top:0.3em;">
          <span style="font-weight:700;">과목 후기</span>
          <i style="color:#888" class="fa fa-chevron-down"></i>
        </div>
      </div>-->
		</div>
		<div id="search-container">
			<div id="search-colheaders">
				<button class="search-chead search active"><i class="fa fa-search"></i></button>
        <button class="search-chead result"><i class="fa fa-cart-plus fa-1x"></i></button>
        <button class="search-chead result"><i class="fa fa-cart-plus fa-1x"></i></button>
        <button class="search-chead result"><i class="fa fa-cart-plus fa-1x"></i></button>
        <button class="search-chead result"><i class="fa fa-cart-plus fa-1x"></i></button>
			</div>
			<div id="result-pages">
				<div class="search-page">
          <form method="post">
            {% csrf_token %}
            <!-- ajax call -->
            <div class="search-field">
              <div class="search-image"><i class="fa fa-search"></i></div>
              <input class="search-text" type="text" name="keyword" autocomplete="off" placeholder="Search" />
            </div>
            <div id="lecturelist-filter">
              <div class="filters">
                <label class="type-name">분류</label>
                <div class="type-elem">
                  <label>
                    <input class="chkall" type="checkbox" autocomplete="off" name="type" value="ALL" />전체
                    <i class="fa fa-circle-o fa-1x none"></i>
                    <i class="fa fa-check-circle-o fa-1x"></i>
                  </label>
                  {% for i in "1234567890" %}
                  <label>
                    <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="{% cycle "GR" "MGC" "BE" "BR" "EG" "HSE" "OE" "ME" "MR" "ETC" %}" />{% cycle "공통" "교필" "기선" "기필" "석박" "인선" "자선" "전선" "전필" "기타" %}
                    <i class="fa fa-circle-o fa-1x"></i>
                    <i class="fa fa-check-circle-o fa-ix none"></i>
                  </label>
                  {% endfor %}
                </div>
              </div>
              <div class="filters">
                <label class="type-name">학과</label>
                <div class="type-elem">
                  <label>
                    <input class="chkall" type="checkbox" autocomplete="off" name="department" value="ALL" />전체
                    <i class="fa fa-circle-o fa-1x none"></i>
                    <i class="fa fa-check-circle-o fa-1x"></i>
                  </label>
                  {% for i in "123456789012345678" %}
                  <label>
                    <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="{% cycle "HSS" "CE" "MSB" "ME" "PH" "BiS" "IE" "ID" "BS" "MAS" "NQE" "EE" "CS" "AE" "CH" "ETC" "CBE" "NS" %}" />{% cycle "인문" "건환" "기경" "기계" "물리" "바공" "산공" "산디" "생명" "수리" "원양" "전자" "전산" "항공" "화학" "기타" "생화공" "신소재" %}
                    <i class="fa fa-circle-o fa-1x"></i>
                    <i class="fa fa-check-circle-o fa-ix none"></i>
                  </label>
                  {% endfor %}
                </div>
              </div>
              <div class="filters">
                <label class="type-name">학년</label>
                <div class="type-elem">
                  <label>
                    <input class="chkall" type="checkbox" autocomplete="off" name="grade" value="ALL" />전체
                    <i class="fa fa-circle-o fa-1x none"></i>
                    <i class="fa fa-check-circle-o fa-1x"></i>
                  </label>
                  {% for i in "012345" %}
                  <label>
                    <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="{% cycle "000" "100" "200" "300" "400" "ETC" %}" />{% cycle "000번대" "100번대" "200번대" "300번대" "400번대" "기타"%}
                    <i class="fa fa-circle-o fa-1x"></i>
                    <i class="fa fa-check-circle-o fa-ix none"></i>
                  </label>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button type="button" id="search-button">검색</button>
          </form>
        </div>
				<div class="result-page none">
					<div class="result-message">
						<span>(전산학부), (전공필수, 전공선택)에 대한 검색 결과입니다.</span>
					</div>
					<div class="lecture-list">

					</div>
				</div>
			</div>
		</div><!--div search-container-->
	</div><!--div left-side-->	
	<div id="center">
		<div id="timetable-menu">
			<!--<div style="float:left;">
				<select>
					<option>2016 가을</option>
				</select>
			</div>-->
			<div id="timetable-tabs" style="clear:both;">
        <a href="#/1" class="timetable-tab active"><span class="timetable-num">시간표 1</span><span class="hidden-option">abc</span></a>
				<a href="#/2" class="timetable-tab"><span class="timetable-num">시간표 2</span><p class="hidden-option">abc</p></a>
				<a href="#/3" class="timetable-tab"><span class="timetable-num">시간표 3</span><p class="hidden-option">abc</p></a>
				<a href="#/4" class="timetable-tab"><span class="timetable-num">시간표 4</span><p class="hidden-option">abc</p></a>
				<a class="timetable-tab timetable-add"><span class="timetable-num">+</span></a>
			</div>
		</div>
		<div id="timetable">
			<div id="timetable-wrap">
				<div id="colheaders">
					<div class="chead"><span>월요일</span></div>
					<div class="chead"><span>화요일</span></div>
					<div class="chead"><span>수요일</span></div>
					<div class="chead"><span>목요일</span></div>
					<div class="chead"><span>금요일</span></div>
				</div>
				<div id="tablebody">
					<div id="rowheaders">
						<div class="rhead"></div><!--8시~9시-->
						<div class="rhead"><span class="rheadtext">9</span></div>
						<div class="rhead"><span class="rheadtext">10</span></div>
						<div class="rhead"><span class="rheadtext">11</span></div>
						<div class="rhead"><span class="rheadtext">12</span></div>
						<div class="rhead"><span class="rheadtext">1</span></div>
						<div class="rhead"><span class="rheadtext">2</span></div>
						<div class="rhead"><span class="rheadtext">3</span></div>
						<div class="rhead"><span class="rheadtext">4</span></div>
						<div class="rhead"><span class="rheadtext">5</span></div>
						<div class="rhead"><span class="rheadtext">6</span></div>
						<div class="rhead"><span class="rheadtext">7</span></div>
						<div class="rhead"><span class="rheadtext">8</span></div>
						<div class="rhead"><span class="rheadtext">9</span></div>
						<div class="rhead"><span class="rheadtext">10</span></div>
						<div class="rhead"><span class="rheadtext">11</span></div>
					</div>
					<div id="grid-wrap">
						<div id="grid">
							<div id="timetable-contents">
								<div class="day">
									<div class="cell1 half" data-day='mon' data-time='800'></div>
									<div class="cell2 half" data-day='mon' data-time='830'></div>
									<div class="cell1 half" data-day='mon' data-time='900'></div>
									<div class="cell2 half" data-day='mon' data-time='930'></div>
									<div class="cell1 half" data-day='mon' data-time='1000'></div>
									<div class="cell2 half" data-day='mon' data-time='1030'></div>
									<div class="cell1 half" data-day='mon' data-time='1100'></div>
									<div class="cell2 half" data-day='mon' data-time='1130'></div>
									<div class="cell1 half" data-day='mon' data-time='1200'></div>
									<div class="cell2 half" data-day='mon' data-time='1230'></div>
									<div class="cell1 half" data-day='mon' data-time='1300'></div>
									<div class="cell2 half" data-day='mon' data-time='1330'></div>
									<div class="cell1 half" data-day='mon' data-time='1400'></div>
									<div class="cell2 half" data-day='mon' data-time='1430'></div>
									<div class="cell1 half" data-day='mon' data-time='1500'></div>
									<div class="cell2 half" data-day='mon' data-time='1530'></div>
									<div class="cell1 half" data-day='mon' data-time='1600'></div>
									<div class="cell2 half" data-day='mon' data-time='1630'></div>
									<div class="cell1 half" data-day='mon' data-time='1700'></div>
									<div class="cell2 half" data-day='mon' data-time='1730'></div>
									<div class="cell1 half" data-day='mon' data-time='1800'></div>
									<div class="cell2 half" data-day='mon' data-time='1830'></div>
									<div class="cell1 half" data-day='mon' data-time='1900'></div>
									<div class="cell2 half" data-day='mon' data-time='1930'></div>
									<div class="cell1 half" data-day='mon' data-time='2000'></div>
									<div class="cell2 half" data-day='mon' data-time='2030'></div>
									<div class="cell1 half" data-day='mon' data-time='2100'></div>
									<div class="cell2 half" data-day='mon' data-time='2130'></div>
									<div class="cell1 half" data-day='mon' data-time='2200'></div>
									<div class="cell2 half" data-day='mon' data-time='2230'></div>
									<div class="cell1 half" data-day='mon' data-time='2300'></div>
									<div class="cell2 half cell-bottom" data-day='mon' data-time='2330'></div>
								</div>
								<div class="day">
									<div class="cell1 half" data-day='tue' data-time='800'></div>
									<div class="cell2 half" data-day='tue' data-time='830'></div>
									<div class="cell1 half" data-day='tue' data-time='900'></div>
									<div class="cell2 half" data-day='tue' data-time='930'></div>
									<div class="cell1 half" data-day='tue' data-time='1000'></div>
									<div class="cell2 half" data-day='tue' data-time='1030'></div>
									<div class="cell1 half" data-day='tue' data-time='1100'></div>
									<div class="cell2 half" data-day='tue' data-time='1130'></div>
									<div class="cell1 half" data-day='tue' data-time='1200'></div>
									<div class="cell2 half" data-day='tue' data-time='1230'></div>
									<div class="cell1 half" data-day='tue' data-time='1300'></div>
									<div class="cell2 half" data-day='tue' data-time='1330'></div>
									<div class="cell1 half" data-day='tue' data-time='1400'></div>
									<div class="cell2 half" data-day='tue' data-time='1430'></div>
									<div class="cell1 half" data-day='tue' data-time='1500'></div>
									<div class="cell2 half" data-day='tue' data-time='1530'></div>
									<div class="cell1 half" data-day='tue' data-time='1600'></div>
									<div class="cell2 half" data-day='tue' data-time='1630'></div>
									<div class="cell1 half" data-day='tue' data-time='1700'></div>
									<div class="cell2 half" data-day='tue' data-time='1730'></div>
									<div class="cell1 half" data-day='tue' data-time='1800'></div>
									<div class="cell2 half" data-day='tue' data-time='1830'></div>
									<div class="cell1 half" data-day='tue' data-time='1900'></div>
									<div class="cell2 half" data-day='tue' data-time='1930'></div>
									<div class="cell1 half" data-day='tue' data-time='2000'></div>
									<div class="cell2 half" data-day='tue' data-time='2030'></div>
									<div class="cell1 half" data-day='tue' data-time='2100'></div>
									<div class="cell2 half" data-day='tue' data-time='2130'></div>
									<div class="cell1 half" data-day='tue' data-time='2200'></div>
									<div class="cell2 half" data-day='tue' data-time='2230'></div>
									<div class="cell1 half" data-day='tue' data-time='2300'></div>
									<div class="cell2 half cell-bottom" data-day='tue' data-time='2330'></div>
								</div>
								<div class="day">
									<div class="cell1 half" data-day='wed' data-time='800'></div>
									<div class="cell2 half" data-day='wed' data-time='830'></div>
									<div class="cell1 half" data-day='wed' data-time='900'></div>
									<div class="cell2 half" data-day='wed' data-time='930'></div>
									<div class="cell1 half" data-day='wed' data-time='1000'></div>
									<div class="cell2 half" data-day='wed' data-time='1030'></div>
									<div class="cell1 half" data-day='wed' data-time='1100'></div>
									<div class="cell2 half" data-day='wed' data-time='1130'></div>
									<div class="cell1 half" data-day='wed' data-time='1200'></div>
									<div class="cell2 half" data-day='wed' data-time='1230'></div>
									<div class="cell1 half" data-day='wed' data-time='1300'></div>
									<div class="cell2 half" data-day='wed' data-time='1330'></div>
									<div class="cell1 half" data-day='wed' data-time='1400'></div>
									<div class="cell2 half" data-day='wed' data-time='1430'></div>
									<div class="cell1 half" data-day='wed' data-time='1500'></div>
									<div class="cell2 half" data-day='wed' data-time='1530'></div>
									<div class="cell1 half" data-day='wed' data-time='1600'></div>
									<div class="cell2 half" data-day='wed' data-time='1630'></div>
									<div class="cell1 half" data-day='wed' data-time='1700'></div>
									<div class="cell2 half" data-day='wed' data-time='1730'></div>
									<div class="cell1 half" data-day='wed' data-time='1800'></div>
									<div class="cell2 half" data-day='wed' data-time='1830'></div>
									<div class="cell1 half" data-day='wed' data-time='1900'></div>
									<div class="cell2 half" data-day='wed' data-time='1930'></div>
									<div class="cell1 half" data-day='wed' data-time='2000'></div>
									<div class="cell2 half" data-day='wed' data-time='2030'></div>
									<div class="cell1 half" data-day='wed' data-time='2100'></div>
									<div class="cell2 half" data-day='wed' data-time='2130'></div>
									<div class="cell1 half" data-day='wed' data-time='2200'></div>
									<div class="cell2 half" data-day='wed' data-time='2230'></div>
									<div class="cell1 half" data-day='wed' data-time='2300'></div>
									<div class="cell2 half cell-bottom" data-day='wed' data-time='2330'></div>
								</div>
								<div class="day">
									<div class="cell1 half" data-day='thu' data-time='800'></div>
									<div class="cell2 half" data-day='thu' data-time='830'></div>
									<div class="cell1 half" data-day='thu' data-time='900'></div>
									<div class="cell2 half" data-day='thu' data-time='930'></div>
									<div class="cell1 half" data-day='thu' data-time='1000'></div>
									<div class="cell2 half" data-day='thu' data-time='1030'></div>
									<div class="cell1 half" data-day='thu' data-time='1100'></div>
									<div class="cell2 half" data-day='thu' data-time='1130'></div>
									<div class="cell1 half" data-day='thu' data-time='1200'></div>
									<div class="cell2 half" data-day='thu' data-time='1230'></div>
									<div class="cell1 half" data-day='thu' data-time='1300'></div>
									<div class="cell2 half" data-day='thu' data-time='1330'></div>
									<div class="cell1 half" data-day='thu' data-time='1400'></div>
									<div class="cell2 half" data-day='thu' data-time='1430'></div>
									<div class="cell1 half" data-day='thu' data-time='1500'></div>
									<div class="cell2 half" data-day='thu' data-time='1530'></div>
									<div class="cell1 half" data-day='thu' data-time='1600'></div>
									<div class="cell2 half" data-day='thu' data-time='1630'></div>
									<div class="cell1 half" data-day='thu' data-time='1700'></div>
									<div class="cell2 half" data-day='thu' data-time='1730'></div>
									<div class="cell1 half" data-day='thu' data-time='1800'></div>
									<div class="cell2 half" data-day='thu' data-time='1830'></div>
									<div class="cell1 half" data-day='thu' data-time='1900'></div>
									<div class="cell2 half" data-day='thu' data-time='1930'></div>
									<div class="cell1 half" data-day='thu' data-time='2000'></div>
									<div class="cell2 half" data-day='thu' data-time='2030'></div>
									<div class="cell1 half" data-day='thu' data-time='2100'></div>
									<div class="cell2 half" data-day='thu' data-time='2130'></div>
									<div class="cell1 half" data-day='thu' data-time='2200'></div>
									<div class="cell2 half" data-day='thu' data-time='2230'></div>
									<div class="cell1 half" data-day='thu' data-time='2300'></div>
									<div class="cell2 half cell-bottom" data-day='thu' data-time='2330'></div>
								</div>
								<div class="day">
									<div class="cell1 half" data-day='fri' data-time='800'></div>
									<div class="cell2 half" data-day='fri' data-time='830'></div>
									<div class="cell1 half" data-day='fri' data-time='900'></div>
									<div class="cell2 half" data-day='fri' data-time='930'></div>
									<div class="cell1 half" data-day='fri' data-time='1000'></div>
									<div class="cell2 half" data-day='fri' data-time='1030'></div>
									<div class="cell1 half" data-day='fri' data-time='1100'></div>
									<div class="cell2 half" data-day='fri' data-time='1130'></div>
									<div class="cell1 half" data-day='fri' data-time='1200'></div>
									<div class="cell2 half" data-day='fri' data-time='1230'></div>
									<div class="cell1 half" data-day='fri' data-time='1300'></div>
									<div class="cell2 half" data-day='fri' data-time='1330'></div>
									<div class="cell1 half" data-day='fri' data-time='1400'></div>
									<div class="cell2 half" data-day='fri' data-time='1430'></div>
									<div class="cell1 half" data-day='fri' data-time='1500'></div>
									<div class="cell2 half" data-day='fri' data-time='1530'></div>
									<div class="cell1 half" data-day='fri' data-time='1600'></div>
									<div class="cell2 half" data-day='fri' data-time='1630'></div>
									<div class="cell1 half" data-day='fri' data-time='1700'></div>
									<div class="cell2 half" data-day='fri' data-time='1730'></div>
									<div class="cell1 half" data-day='fri' data-time='1800'></div>
									<div class="cell2 half" data-day='fri' data-time='1830'></div>
									<div class="cell1 half" data-day='fri' data-time='1900'></div>
									<div class="cell2 half" data-day='fri' data-time='1930'></div>
									<div class="cell1 half" data-day='fri' data-time='2000'></div>
									<div class="cell2 half" data-day='fri' data-time='2030'></div>
									<div class="cell1 half" data-day='fri' data-time='2100'></div>
									<div class="cell2 half" data-day='fri' data-time='2130'></div>
									<div class="cell1 half" data-day='fri' data-time='2200'></div>
									<div class="cell2 half" data-day='fri' data-time='2230'></div>
									<div class="cell1 half" data-day='fri' data-time='2300'></div>
									<div class="cell2 half cell-bottom" data-day='fri' data-time='2330'></div>
								</div>
							</div>
							<div id="cellselected"></div>
						</div>
					</div>
				</div>
			</div><!--div timetable-wrap-->
			<div style="height:3px;"></div>
			<div id="right-side">
				<div id="map">
					<div id="map-wrap">
						<div id="map-container">
							<div id="map-img">
								<div> 지도</div>
							</div>
						</div>
					</div>
				</div>
				<div id="info">
					<div id="type-credits">
						<div class="lecture-type">
							<span class="lecture-type-span">기필&nbsp;&nbsp;</span><span id="basic-required">10</span>
              <span class="active-credit"></span>
						</div>
						<div class="lecture-type-right">
							<span class="lecture-type-span">기선&nbsp;&nbsp;</span><span id="basic-elective">3</span>
              <span class="active-credit"></span>
						</div>
						<div class="lecture-type" style="clear:both;">
							<span class="lecture-type-span">전필&nbsp;&nbsp;</span><span id="major-required">3</span>
              <span class="active-credit"></span>
						</div>
						<div class="lecture-type-right">
							<span class="lecture-type-span">전선&nbsp;&nbsp;</span><span id="major-eletive">0</span>
              <span class="active-credit"></span>
						</div>
						<div class="lecture-type" style="clear:both;">
							<span class="lecture-type-span">인문&nbsp;&nbsp;</span><span id="humanities">0</span>
              <span class="active-credit"></span>
						</div>
						<div class="lecture-type-right">
							<span class="lecture-type-span">기타&nbsp;&nbsp;</span><span id="other-lectures">2</span>
              <span class="active-credit"></span>
						</div>
					</div>
					<div id="total-credits">
						<div class="total-credit" style="margin-left:3em;">
							<span id="credits">18</span><br/>
							<span>학점</span>
						</div>
						<div class="total-credit" style="margin:1em 3em;">
							<span id="au">2</span><br/>
							<span>AU</span>
						</div>
					</div>
					<div id="table-scores">
						<div class="table-score">
							<span id="grades">A-</span><br/>
							<span>성적</span>
						</div>
						<div class="table-score">
							<span id="loads">B+</span><br/>
							<span>널널</span>
						</div>
						<div class="table-score">
							<span id="speeches">B</span><br/>
							<span>강의</span>
						</div>
					</div>
				</div>
				<div style="text-align:center;"><span>시험시간표</span></div>
				<div id="examtable">
					<div id="examtime1">
						<div class="exam-chead"><span>월</span></div>
						<div class="exam-body">
							<ul id="examlist1">
								<li>aa</li>
								<li>bb</li>
							</ul>
						</div>
					</div>
					<div id="examtime2">
						<div class="exam-chead"><span>화</span></div>
						<div class="exam-body">
							<ul id="examlist2">
							</ul>
						</div>
					</div>
					<div id="examtime3">
						<div class="exam-chead"><span>수</span></div>
						<div class="exam-body">
							<ul id="examlist3">
							</ul>
						</div>
					</div>
					<div id="examtime4">
						<div class="exam-chead"><span>목</span></div>
						<div class="exam-body">
							<ul id="examlist4">
							</ul>
						</div>
					</div>
					<div id="examtime5">
						<div class="exam-chead"><span>금</span></div>
						<div class="exam-body">
							<ul id="examlist5">
							</ul>
						</div>
					</div>
				</div><!--div exam-table-->
				<div id="small-buttons">
					<div id="facebook">
					</div>
					<div id="twiter">
					</div>
					<div id="image">
					</div>
					<div id="calendar">
					</div>
					<div id="copy">
					</div>
				</div>
			</div><!--div right-side-->
		</div><!--div timetable-->
	</div><!--div center-->
</div>
<script type="text/template" id="timetable-lecture-template">
  <div class="lecture-block">
    <p class="timetable-lecture-name"><%= title %></p>
  </div>
</script>
<script type="text/template" id="lecture-detail-template">
  <div class="lecture-detail">
    <div style="text-align:center;"><span id="course-title"><%= title %></span></div>
    <div style="text-align:center;margin-top:1px;"><span id="course-no"><%= old_code %></span></div>
    <div class="lecture-options">
      <span id="color-option" style="float:left;">색상 변경</span>
      <span id="syllabus-option">실라버스&nbsp;</span>
      <span id="dictionary-option">과목사전</span>
    </div>
    <div class="basic-info"><span style="font-weight:700;">학과&nbsp;&nbsp;</span><span id="department"><%= department %></span></div>
    <div class="basic-info"><span style="font-weight:700;">구분&nbsp;&nbsp;</span><span id="course-type"><%= type %></span></div>
    <div class="basic-info"><span style="font-weight:700;">교수&nbsp;&nbsp;</span><span id="instructor"><%= professor %></span></div>
    <div class="basic-info"><span style="font-weight:700;">장소&nbsp;&nbsp;</span><span id="classroom"><%= classroom %></span></div>
    <div class="basic-info"><span style="font-weight:700;">정원&nbsp;&nbsp;</span><span id="class-size"><%= classsize %></span></div>
    <div class="basic-info"><span style="font-weight:700;">시험&nbsp;&nbsp;</span><span id="exam-time"><%= examtime %></span></div>
    <div class="lecture-scores">
      <div class="lecture-score">
        <span id="language"><%= language %></span><br/>
        <span>언어</span>
      </div>
      <div class="lecture-score">
        <span id="credit"><%= credit %></span><br/>
        <span>학점</span>
      </div>
      <div class="lecture-score">
        <span id="rate"><%= rate %></span><br/>
        <span>경쟁률</span>
      </div>
    </div>
    <div class="lecture-scores">
      <div class="lecture-score" style="clear:both;">
        <span id="grade"><%= grade %></span><br/>
        <span>성적</span>
      </div>
      <div class="lecture-score">
        <span id="load"><%= load %></span><br/>
        <span>널널</span>
      </div>
      <div class="lecture-score">
        <span id="speech"><%= speech %></span><br/>
        <span>강의</span>
      </div>
    </div>
    <div class="dictionary-preview"style="margin-top:0.3em;">
      <span style="font-weight:700;">과목 후기</span>
      <i style="color:#888" class="fa fa-chevron-down"></i>
    </div>
  </div>

</script>

{% endblock %}
