{% extends 'timetable/layout.html' %}
{% block content %}
<form>
  <input type="hidden", id='_csrf', value="{{csrf_token}}" />
  <label for="table_id"> 몇 번째 시간표? (1, 2, 3) </label>
  <input id="table_id" name="table_id" type="text" />
  <label for="code"> 과목 코드(12.123 형식) </label>
  <input id="code" name="code" type="text" />
  <br/>
  <label for="year"> 년도 </label>
  <input id="year" name="year" type="text" value={{year}} />
  <label for="semester"> 학기 </label>
  <input id="semester" name="semester" type="text" value={{semester}} />
  <br/>
  <label><input type="checkbox" name="delete" /> 삭제? </label>
  <button type="button" id="add_course" class="btn btn-default"> 추가 </button>
  <a href="/timetable/api/show" class="btn btn-default"> 확인하기 </a>
</form>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
  var csrf_token = $('#_csrf').val();
  $('button').click(function() {
    $.ajax({
      type: 'POST',
      url: '/timetable/api/update',
      data: { table_id: $('#table_id').val(), code: $('#code').val(),
              year: $('#year').val(), semester: $('#semester').val(),
              delete: $('input:checkbox[name="delete"]').is(":checked"),
              'csrfmiddlewaretoken': csrf_token },
      dataType: 'json',
      success: function(res) {
        if (res.success) {
          alert('Success');
        } else {
          alert('Error?');
        }
      },
      error: function(res, e) {
        alert(res.responseText);
      }
    });
  });
});
</script>
{% endblock %}

