.review {
    position: relative;
    margin-bottom: 45px;
    .likes {
        position: absolute;
        top: -22px;
        right: -22px;
        width: 44px;
        height: 44px;
        border: none;
        border-radius: 50%;
        cursor: default;
        background-color: rgb(230, 76, 101);
        >span {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            color: #ffffff;
            font-size: 13px;
            font-weight: bold;
            line-height: 44px;
            text-align: center;
            >span {
                margin-left: -2px;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    .panel-body {
        padding: 15px;
        .lecture {
            font-size: 20px;
            font-weight: bold;
        }
        .comment {
            padding: 15px 15px;
            p:last-child {
                margin-bottom: 0;
            }
        }
        .statics {
            >span {
                display: inline-block;
                position: relative;
                width: 60px;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                .grade {
                    position: absolute;
                    top: -5px;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    padding-top: 3px;
                    padding-left: 1px;
                    border: 2px solid rgb(230, 76, 101);
                    border-radius: 15px;
                    color: rgb(230, 76, 101);
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}