body * {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 12px;
    color: #333333;
}


.content {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f0f0;


    &--no-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


.section-wrap {
    margin: 12px 12px 13px 12px;


    &--course-list {
        flex: none;
        width: calc(65vh - 38px);
    }


    &--course-detail {
        flex: none;
        width: calc(65vh - 38px);
        margin-left: 0;
    }
}


.tab {
    &--course-list {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 100%;
        margin-left: -50px;
    }
}


.section {
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #F3BEC6;


    &--with-tabs {
        display: inline-block;
        vertical-align: top;
        border-top-left-radius: 0;
    }
}


.section-content {
    width: 100%;
    height: 100%;


    &--flex {
        display: flex;
        flex-direction: column;
    }


    &--course-detail {
        &__title {
            font-size: 14px;
            line-height: 13px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 4px;
        }

        &__subtitle {
            font-size: 13px;
            line-height: 12px;
            text-align: center;
            margin-bottom: 12px;
        }

        &__info {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;


            &__name {
                font-weight: bold;
                margin-right: 6px;
                flex: none;
            }
        }
    }


    &--widget {
        .view-detail {
            margin-top: 10px;
            text-align: right;
        }
    }
}


.section-title {
    &--course-list {
        font-size: 15px;
        line-height: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }


    &--widget {
        font-size: 14px;
        line-height: 13px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
}


.block {
    background-color: #EEEEEE;
    border-radius: 4px;


    &--course {
        padding: 12px;
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 12px;


        .section-content--widget &:nth-last-of-type(2) {
            margin-bottom: 0;
        }


        &__title {
            padding-bottom: 8px;
            border-bottom: 1px solid #C9C9C9;
            margin-bottom: 8px;
        }

        &__info {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;


            &__name {
                font-weight: bold;
                margin-right: 6px;
                flex: none;
            }
        }
    }


    &--review {
        padding: 12px;
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 12px;


        &__title {
            margin-bottom: 12px;


            strong,
            span {
                margin-right: 6px;
            }
        }


        &__content {
            color: #555555;
            line-height: 18px;
        }


        &__menus {
            margin-top: 12px;


            &__score {
                margin-right: 10px;
            }
        }
    }
}


.text-button {
    color: #E54C65;
    cursor: pointer;


    &:hover {
        color: #963246;
    }


    &--black {
        color: #333333;


        &:hover {
            color: #000000;
        }
    }


    &--view-detail {
        font-size: 12px;
        line-height: 11px;
    }


    &--review-block {
        float: right;
        margin-left: 10px;
    }
}


.divider {
    border-bottom: 1px solid #EDD1DC;
}
