.none
{
    display:none !important;
}

i
{
    vertical-align:top;
}





/* Lecture in top-left side */


.basic-info-name.fixed-ko
{
    width: 23px;
}
.basic-info-name.fixed-en
{
    width: 32px;
}

.review-elem{
	background-color:#EEEEEE;
	border-radius:4px;
	margin-bottom:6px;
	padding:8px 10px 8px 10px;
	font-size:11px;
	line-height:12px;
	cursor:pointer;
    color:#333;
}
.review-elem:hover{
    background-color:#DDDDDD;
}

.review-body{
    display:block;
    display:-webkit-box;
	margin-bottom:4px;
    line-height:14px;
    max-height:42px;
    overflow:hidden;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
}

.review-score-wrap{
	text-align:right;
	margin-bottom:-1px;
}

.review-score{
	margin-left:10px;
}

.review-more{
	color:#888888;
}

.review-elem:hover .review-more{
	color:#333333;
}



/* Search at bottom-left side */

.search-filter input[type="checkbox"] 
{
    display:none !important;
}

.search-filter-title.fixed-ko
{
    width: 23px;
}
.search-filter-title.fixed-en
{
    width: 32px;
}

:global(.nano) {
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    margin: 0px -12px -12px 0px;
    width: auto !important;
}
:global(.nano-content) {
    margin-right: 0px;
}
:global(.nano-content) > *{
    margin-right: 12px;
}
:global(.nano-pane) {
    width: 4px !important;
    margin: 0px 4px 10px 4px;
    background-color:transparent !important;
}
:global(.nano-slider) {
    margin:0px !important;
    background-color:#ccc !important;
}



/* Timetable tab at center */

#timetable-tabs
{
    float:left;
    font-size:0px;
}

#timetable-tabs > div
{
    background-color:#E2E2E2;
    display:inline-block;
    vertical-align:top;
    height:25px;
    margin-right:6px;
    text-align:center;
    border-radius:4px 4px 0 0;
    border:none;
    outline:none;
    font-size:11px;
    line-height:10px;
    text-decoration:none;
}
#timetable-tabs > div.active
{
    background-color:#FFFFFF;
}
#timetable-tabs > div:not(.active):hover
{
    cursor:pointer;
    background-color:#D8D8D8;
}
#timetable-tabs > div.timetable-add
{
    padding:7px 0 0 0;
    width:27px;
}

.timetable-tab .timetable-num
{
    display: inline-block;
    padding:8px 0 7px 10px;
    color:#555;
}
.timetable-tab.active .timetable-num,
.timetable-tab:hover .timetable-num
{
    color:#333;
}
.timetable-tab:not(.active) .timetable-num
{
    padding-right:10px;
}

.timetable-tab>.hidden-option
{
    display:none;
}
.timetable-tab.active>.hidden-option
{
    display:inline-block;
    vertical-align:top;
}

.duplicate-table
{
    padding:7px 2px 7px 4px;
    cursor:pointer;
}

.duplicate-table > i
{
	background: url(../static/icons/duplicate_table.svg) no-repeat center center;
	width:8px;
	height:11px;
	display:inline-block;
	vertical-align:top;
}
.duplicate-table:hover > i
{
	background-image: url(../static/icons/duplicate_table_hover.svg);
}

.delete-table
{
    padding:7px 10px 7px 2px;
    cursor:pointer;
}

.delete-table > i
{
	background: url(../static/icons/delete_table.svg) no-repeat center center;
	width:9px;
	height:11px;
	display:inline-block;
	vertical-align:top;
}
.delete-table:hover > i
{
	background-image: url(../static/icons/delete_table_hover.svg);
}

.timetable-add .add-table
{
	background: url(../static/icons/add_table.svg) no-repeat center center;
	width:11px;
	height:11px;
	display:inline-block;
	vertical-align:top;
}
.timetable-add:hover .add-table
{
    background-image: url(../static/icons/add_table_hover.svg);
}

#semester
{
	width:88px;
	height:21px;
	float:right;
	background-color:#fff;
	font-size:11px;
	line-height:10px;
	border-radius:6px;
	box-shadow:0 3px 0 0 #F3BEC6;
	text-align:center;
}

#semester-text
{
    padding:6px 0 5px 0;
    display:inline-block;
    margin:0 -10px 0 -10px;
    pointer-events:none;
}

#semester-prev
{
    padding:6px 7px 5px 7px;
    display:inline-block;
    float:left;
    cursor:pointer;
}
#semester-prev.disable
{
    pointer-events: none;
}

#semester-next
{
    padding:6px 7px 5px 7px;
    display:inline-block;
    float:right;
    cursor:pointer;
}
#semester-next.disable
{
    pointer-events: none;
}

#semester-prev > i
{
	background: url(../static/icons/semester_prev.svg) no-repeat center center;
	width:6px;
	height:10px;
    display:block;
}
#semester-prev:hover > i
{
	background-image: url(../static/icons/semester_prev_hover.svg);
}
#semester-prev.disable > i
{
    background-image: url(../static/icons/semester_prev_disable.svg);
}

#semester-next > i
{
	background: url(../static/icons/semester_next.svg) no-repeat center center;
	width:6px;
	height:10px;
    display:block;
}
#semester-next:hover > i
{
	background-image: url(../static/icons/semester_next_hover.svg);
}
#semester-next.disable > i
{
    background-image: url(../static/icons/semester_next_disable.svg);
}




/* Timetable at center */

#timetable
{
    position:relative;
    clear:both;
    margin:0;
    padding:0;
    background-color:#FFFFFF;
    height:calc(100% - 25px);
    border-radius:0 6px 6px 6px;
    box-shadow: 0 3px 0 0 #F3BEC6;
    display: flex;
}

#timetable-wrap
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    flex:1 1 auto;
    position:relative;
    float:left;
    display:inline-block;
    height:100%;
}

.chead
{
    flex:none;
    height:16px;
    text-align:center;
    font-size:10px;
    line-height:9px;
    color:#555;
    position:relative;
}

#rowheaders
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:11px;
    margin-right:4px;
    height:100%;
}

.rhead
{
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    position:relative;
    margin-top:1px;
    width:100%;
}
.rhead-last
{
    margin-bottom:1px;
}
.rhead-bold
{
    font-weight:bold;
}
.rhead-chead
{
    flex:none;
    margin-top:0;
    height:16px;
}

.rheadtext
{
	width:100%;
	text-align:right;
    color:#555;
	font-size:10px;
    position:absolute;
    display:inline-block;
    bottom:-8px;
}

#timetable-contents
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    height: 100%;
}

.day
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    padding-left:4px;
    padding-right:1px;
    width:0;
    height:100%;
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
}

.half {
    position: relative;
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    width:100%;
}

.cell1
{
    border-top:1px solid #E8E8E8;
}
.cell1.cell-bold
{
    border-top:1px solid #CCCCCC;
}

.cell2
{
    border-top:1px dashed #E8E8E8;
}
.cell2.cell-last
{
    border-bottom:1px solid #CCCCCC;
}

#drag-cell
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    justify-content:center;
    position:absolute;
    background-color:#E56C85;
    border-radius:2px;
    pointer-events:none;
    z-index:1;
}

.drag-text
{
    font-size:10px;
    line-height:9px;
    margin:4px 0px 4px 0px;
    text-align:center;
    color:#FFFFFF;
    pointer-events:auto;
    cursor:pointer;
}

.drag-text:hover
{
    color:#dddddd;
}

.drag-close
{
    background: url(../static/icons/delete_lecture.svg) no-repeat center center;
    width:8px;
    height:8px;
    top:4px;
    right:4px;
    position:absolute;
    pointer-events:auto;
    cursor:pointer;
}

.drag-close:hover
{
    background: url(../static/icons/delete_lecture_hover.svg) no-repeat center center;
}

.drag-icon
{
    background: url(../static/icons/drag_add.svg) no-repeat center center;
    width:7px;
    height:9px;
    margin-right:4px;
    display:inline-block;
    vertical-align:top;
}

.drag-text:hover > .drag-icon
{
    background-image: url(../static/icons/drag_add_hover.svg);
}





/* Map at right side */

#map
{
    padding-bottom:10px;
    border-bottom:1px solid #EDD1DC;
    flex:0 0 auto;
}

#map-container
{
    position:relative;
    border:1px;
}

#map-img
{
    width:100%;
}

.map-location
{
    position:absolute;
    margin-left:-5px;
    margin-top:-16px;
    margin-right:-100px;
}

.map-location-box
{
    background-color:#eeeeee;
    font-size:0;
    height:13px;
    border-radius:2px;
    padding:2px 3px;
    box-shadow:0 1px 0 0 #888888;
}
.map-location-box.active
{
    background-color:#f9f0f0;
    box-shadow:0 1px 0 0 #e64c65;
}

.map-location-text
{
    font-size:10px;
    line-height:9px;
    margin-right:1px;
}
.map-location-box.active .map-location-text
{
    color:#e64c65;
}

.map-location-arrow
{
    position:relative;
    top:-3px;
    left:3px;
    width:0;
    height:0;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
    border-top:3px solid #eeeeee;
}
.map-location-box.active~.map-location-arrow
{
    border-top-color:#f9f0f0;
}

.map-location-arrow-shadow
{
    position:relative;
    top:1px;
    left:3px;
    width:0;
    height:0;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
    border-top:3px solid #888888;
}
.map-location-box.active~.map-location-arrow-shadow
{
    border-top-color:#e64c65;
}

.map-location-circle
{
    display:inline-block;
    width:9px;
    height:9px;
    margin-left:1px;
    border-radius:50%;
    background-color:#ff8888;
}
.map-location-circle.active
{
    background-color:#e64c65 !important;
}

.map-location-circle.color1
{
    background-color: #ef9e9e;
}
.map-location-circle.color2
{
    background-color: #f27e7e;
}
.map-location-circle.color3
{
    background-color: #ef9770;
}
.map-location-circle.color4
{
    background-color: #efbe84;
}
.map-location-circle.color5
{
    background-color: #efd37b;
}
.map-location-circle.color6
{
    background-color: #f2ec83;
}
.map-location-circle.color7
{
    background-color: #c7f28f;
}
.map-location-circle.color8
{
    background-color: #8feabc;
}
.map-location-circle.color9
{
    background-color: #8ce0d5;
}
.map-location-circle.color10
{
    background-color: #99e1f2;
}
.map-location-circle.color11
{
    background-color: #86aeea;
}
.map-location-circle.color12
{
    background-color: #8597ed;
}
.map-location-circle.color13
{
    background-color: #9696e2;
}
.map-location-circle.color14
{
    background-color: #917ced;
}
.map-location-circle.color15
{
    background-color: #cb9aed;
}
.map-location-circle.color16
{
    background-color: #f28bcb;
}

.map-location.E2
{
    left:60%;
    top:81%;
    z-index:81;
}
.map-location.E3
{
    left:67%;
    top:75%;
    z-index:75;
}
.map-location.E6
{
    left:68%;
    top:63%;
    z-index:63;
}
.map-location.E7
{
    left:77%;
    top:61%;
    z-index:61;
}
.map-location.E11
{
    left:53%;
    top:58%;
    z-index:58;
}
.map-location.E16
{
    left:53%;
    top:49%;
    z-index:49;
}

.map-location.N1
{
    left:88%;
    top:39%;
    z-index:39;
}
.map-location.N3
{
    left:53%;
    top:45%;
    z-index:45;
}
.map-location.N4
{
    left:62%;
    top:41%;
    z-index:41;
}
.map-location.N5
{
    left:74%;
    top:39%;
    z-index:39;
}
.map-location.N7
{
    left:33%;
    top:41%;
    z-index:41;
}
.map-location.N22
{
    left:79%;
    top:35%;
    z-index:35;
}
.map-location.N24
{
    left:76%;
    top:31%;
    z-index:31;
}
.map-location.N25
{
    left:59%;
    top:36%;
    z-index:36;
}
.map-location.N27
{
    left:57%;
    top:24%;
    z-index:24;
}

.map-location.W1
{
    left:31%;
    top:84%;
    z-index:84;
}
.map-location.W8
{
    left:35%;
    top:55%;
    z-index:44;
}
.map-location.W16
{
    left:40%;
    top:87%;
    z-index:87;
}




/* Summary at right side */

#summary
{
    flex:none;
    padding-bottom:9px;
    border-bottom:1px solid #EDD1DC;
}

#summary-type
{
    margin-top:1px;
    font-size: 0;
    line-height: 0;
}

.summary-type-elem
{
    display:inline-block;
    width:40%;
    text-align:left;
    margin-top:8px;
}
.summary-type-elem-left
{
    margin-left:10%;
    clear:both;

}
.summary-type-elem-right
{
}

.summary-type-elem span
{
    display:inline-block;
    font-size: 12px;
    line-height: 13px;
    margin-right: 4px;
}

.summary-type-elem-title
{
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}
.summary-type-elem-title.fixed-ko
{
    width: 23px;
}
.summary-type-elem-title.fixed-en
{
    width: 23px;
}

.summary-type-elem-body.active
{
    color:#e64c65;
}

.summary-type-elem-additional
{
    color:#e64c65;
}

#summary-credit
{
    margin-top: calc(1.4vh);
    margin-bottom: calc(1.4vh);
    text-align:center;
}

.summary-credit-elem
{
    width:69px;
    width: calc(3.5vh + 34px);
    display:inline-block;
    vertical-align:top;
}

#credits>.active,
#au>.active
{
    color:#e64c65;
}

#summary-score
{
    margin-top: calc(1.4vh);
    text-align:center;
}

.summary-score-elem
{
    width:69px;
    width: calc(3.5vh + 34px);
    display:inline-block;
    vertical-align:top;
}

.summary-score-elem .score-text.active
{
    color:#e64c65;
}





/* Exam at right side */

#exam-timetable
{
    flex: auto;
    display: flex;
    flex-direction: column;
}

#examtitle
{
    text-align:center;
    font-size:13px;
    line-height:14px;
    padding-top:9px;
    padding-bottom:8px;
}

#examtable
{
    flex: auto;
    display: flex;
    flex-direction: column;
}

#examtable > :global(.nano)
{
    margin: 0;
}

.exam-day
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    width:100%;
    text-align:left;
    margin-bottom:2px;
    padding-right:10px;
}

.exam-day-title
{
    margin-bottom:6px;
    margin-right:4px;
    white-space:nowrap;
}
.exam-day-title.fixed-ko
{
    width:12px;
}
.exam-day-title.fixed-en
{
    width:23px;
}

.exam-day-body
{
    list-style:none;
    padding-left:0;
    margin-bottom:0;
    display:flex;
    flex-direction:column;
}

.exam-elem
{
    margin-bottom:6px;
}
.exam-elem.active {
    color:#E54C65;
}

.exam-elem-title
{
    font-weight:bold;
    margin-bottom:1px;
}





/* Share at right side*/

#share-buttons
{
    flex:none;
    margin-top:10px;
    border-top:1px solid #EDD1DC;
	padding-top:10px;
    font-size:0px;
}

#share-buttons > .left-btn-group
{
    float: left;
}

#share-buttons > .right-btn-group
{
    float: right;
    display: none;
}

#share-buttons > .height-placeholder
{
    clear: both;
}

.share-button
{
    display:inline-block;
    margin-right:10px;
    vertical-align:top;
}
.share-button > i
{
     display:block;
     height:19px;
     width:19px;
     cursor:pointer;
}

.share-button#facebook > i
{
    background: url(../static/icons/share_facebook.svg) no-repeat center center;
}
.share-button#facebook:hover > i
{
    background-image: url(../static/icons/share_facebook_hover.svg);
}

.share-button#image > i
{
    background: url(../static/icons/share_image.svg) no-repeat center center;
}
.share-button#image:hover > i
{
    background-image: url(../static/icons/share_image_hover.svg);
}

.share-button#calendar > i
{
    background: url(../static/icons/share_calendar.svg) no-repeat center center;
}
.share-button#calendar:hover > i
{
    background-image: url(../static/icons/share_calendar_hover.svg);
}

.share-button#show-lecture-list > i {
    background: url(../static/icons/add_lecture.svg) no-repeat center center;
}
.share-button#show-lecture-list:hover > i {
    background-image: url(../static/icons/add_lecture_hover.svg);
}

.share-button#show-timetable-list > i {
    background: url(../static/icons/duplicate_table.svg) no-repeat center center;
}
.share-button#show-timetable-list:hover > i {
    background-image: url(../static/icons/duplicate_table_hover.svg);
}


#lecture-tabs
{
    margin-bottom:3px;
    cursor:pointer;
}

#lecture-contents
{
    clear:both;
    padding:5px;
}

#department
{
    width:100%;
}

#keyword
{
    width:100%;
}

#classfication
{
    width:100%;
}

.lecture-block
{
    position:absolute;
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    justify-content:center;
    padding:0px;
    border-radius:2px;
    z-index:2;
    top: 1px;
    left: -1px;
    width: calc(100% + 2px);
    cursor:pointer;
    overflow:hidden;
}
body .lecture-block.click,
body .lecture-block.active
{
    background-color:#E0546F;
    color:#FFFFFF;
}
body .lecture-block.active.lecture-block-temp
{
    background-color:#E56C85;
    z-index: 3;
}
.lecture-block.click
{
    margin-top:-3px;
    margin-bottom:3px;
    box-shadow: 0 3px 0 0 #825c61;
}

.lecture-block.color1
{
    background-color: #F2CECE;
}
.lecture-block.color2
{
    background-color: #F4AEAE;
}
.lecture-block.color3
{
    background-color: #F2BCA0;
}
.lecture-block.color4
{
    background-color: #F1D6B2;
}
.lecture-block.color5
{
    background-color: #F1E1A9;
}
.lecture-block.color6
{
    background-color: #f4f2b3;
}
.lecture-block.color7
{
    background-color: #dbf4be;
}
.lecture-block.color8
{
    background-color: #beedd7;
}
.lecture-block.color9
{
    background-color: #b7e2de;
}
.lecture-block.color10
{
    background-color: #c9eaf4;
}
.lecture-block.color11
{
    background-color: #b4c9ed;
}
.lecture-block.color12
{
    background-color: #b4bbef;
}
.lecture-block.color13
{
    background-color: #c4c3e5;
}
.lecture-block.color14
{
    background-color: #bcabef;
}
.lecture-block.color15
{
    background-color: #e1caef;
}
.lecture-block.color16
{
    background-color: #f4badb;
}

.lecture-block-content
{
    padding: 4px 6px;
    overflow:hidden;
}

.timetable-lecture-name
{
    font-size:11px;
    line-height:12px;
    color:rgba(0,0,0,0.8);
    margin:0;
    margin-bottom:1px;
    pointer-events:none;
}
.lecture-block.click .timetable-lecture-name,
.lecture-block.active .timetable-lecture-name
{
    color:rgba(255,255,255,1);
}

.timetable-lecture-info
{
    font-size:11px;
    line-height:12px;
    color:rgba(0,0,0,0.5);
    margin:0;
    margin-top:1px;
    pointer-events:none;
}
.lecture-block.click .timetable-lecture-info,
.lecture-block.active .timetable-lecture-info
{
    color:rgba(255,255,255,0.7);
}

.lecture-delete
{
    top:0px;
    right:0px;
    position:absolute;
    cursor:pointer;
    padding:4px;
    background-color:rgba(224,84,111,0.8);
}

.lecture-delete > i
{
    background: url(../static/icons/delete_lecture.svg) no-repeat center center;
    width:10px;
    height:10px;
    display:block;
}
.lecture-delete:hover > i
{
    background: url(../static/icons/delete_lecture_hover.svg) no-repeat center center;
}

.lecture-block:not(:hover) .lecture-delete,
.lecture-block:not(.active) .lecture-delete
{
    display:none;
}

.lecture-occupied
{
    background-color: #888;
    position: absolute;
    left: 0;
    width: calc(100%);
    z-index: -1;
    border-radius: 2px;
}


@media(max-width: 768px) {
    /* Modal for timetable list view start*/
    .modal-timetable-list .navbar-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-timetable-list #content
    {
        margin-top: 0px;
    }

    .modal-timetable-list #left-side
    {
        display: none;
    }
    .modal-timetable-list #timetable
    {
        display: none;
    }
    .modal-timetable-list #right-side
    {
        display: none;
    }
    .modal-timetable-list #semester
    {
        float: none;
        margin: auto;
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .modal-timetable-list #timetable-tabs
    {
        float: none;
        width: 100vw;
    }
    .modal-timetable-list :global(.container-fluid)
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-timetable-list #page-container
    {
        margin-top: 50px;
        width: 100vw;
        background-color: rgb(0,0,0,0.6);
        height: calc(100vh - 50px);

    }

    .modal-timetable-list #timetable-tabs > div {
        width: calc(100vw - 30px);
        margin-top: 6px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgb(238, 238, 238);
        margin-left: 5px;
    }

    .modal-timetable-list #timetable-tabs > div.timetable-add {
        width: calc(100vw - 30px);
        margin-left: 5px;
    }
    .modal-timetable-list #timetable-tabs > div.active {
        background-color: rgb(221, 221, 221);
    }
    .modal-timetable-list #center
    {
        background-color: #ffffff;
        margin-top: 10px;
        width: calc(100vw - 30px);
        margin-right: 10px;
        border-radius: 4px 4px 4px 4px;
        height: calc(100vh - 70px);
        margin-left: 10px;

    }
    .modal-timetable-list .timetable-tab.active>.hidden-option {
        float: right;
        display: inline-block;
    }
    .modal-timetable-list .delete-table {
        float: right;
        padding-right: 5px;
    }
    .modal-timetable-list .timetable-tab .timetable-num {
        float: left;
    }
    .modal-timetable-list .timetable-tab>.hidden-option {
        display: inline-block;
    }
    .modal-timetable-list .duplicate-table
    {
        float: right;
    }
    .modal-timetable-list #timetable-menu {
        display: block;
    }


    /* Modal for timetable list view end */

    /* Modal for lecture info view start */
    .modal-lecture-info #content
    {
        margin-top: 0px;
    }
    .modal-lecture-info #center
    {
        display: none;
    }
    .modal-lecture-info #lecture-info
    {
        margin-top: 60px;
        width: calc(100vw - 30px);
        height: calc(100vh - 70px);
        margin-left: 15px;
    }
    .modal-lecture-info #lecture-lists
    {
        display:none;
    }

    .modal-lecture-info #page-container{
        width: 100vw;
        height: 100vh;
        margin-top: 0px;
        background-color: rgb(0,0,0,0.6);
    }
    .modal-lecture-info #left-side {
        display: block;
    }
    .modal-lecture-info :global(.container-fluid)
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .modal-lecture-info .navbar-header{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Modal for lecture info view end  */

    /* Basic timetable view start */

    #page-container {
        margin:15px auto 0 auto;
        width:100%;
        height:calc(100vh - 83px);
    }

    #left-side {
        display: none;
    }

    #center {
        margin-left: 0;
        float: none;
    }

    #right-side {
        margin: 0;
        background-color: #FFFFFF;
        height:96px;
        flex-direction:column;
        width: auto;
        border: none;
    }

    #timetable-menu {
        display: none;
    }

    #timetable {
        flex-direction: column;
        height:100%;
        border-radius:6px;
    }

    #timetable-wrap {
        flex: 1;
        height: auto;
    }

    #map {
        display: none;
    }

    #map-img {
        display: none;
    }

    #summary {
        flex: 1;
        display: flex;
    }

    #summary-type {
        display: inline-block;
        margin-top: 3px;
        width: 200px;
    }

    .summary-type-elem {
        width: 33.33%;
        text-align: center;
        margin-top: 6px;
        vertical-align: top;
    }

    #summary-credit {
        flex: 2;
        display: flex;
    }

    .summary-credit-elem {
        display: inline-block;
        width: auto;
        flex: 1;
        vertical-align: top;
    }

    #summary-score {
        flex: 3;
        display: flex;
    }

    .summary-score-elem {
        width: auto;
        flex: 1;
    }

    #exam-timetable {
        display: none;
    }

    .exam-day {
        display: none;
    }

    #share-buttons {
        padding: 10px 0;
        border: none;
        margin-top: 0;
    }

    #share-buttons > .right-btn-group {
        display: block;
    }
    /* Basic timetable view end */


    /* Timetable + lecture list view start */
    .mobile-lecture-list #page-container {
        -ms-flex-direction:column-reverse;
            flex-direction:column-reverse;
    }

    .mobile-lecture-list #left-side {
        display: block;
        width: 100%;
        height: 226px;
        /*flex: 1;*/
        padding-top: 16px;
    }

    .mobile-lecture-list #center {
        height: 0;
        -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
    }

    .mobile-lecture-list #right-side {
        height: auto;
    }

    .mobile-lecture-list #lecture-info {
        display: none;
    }

    .mobile-lecture-list #lecture-lists {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .mobile-lecture-list .search-extend {
        height: auto;
    }

    .mobile-lecture-list .search-form-wrap > form
    {
        padding-bottom: 0;
        border-bottom: none;
    }

    .mobile-lecture-list #timetable {
        /*flex-direction: row;*/
    }

    .mobile-lecture-list #summary {
        display: none;
    }

    .mobile-lecture-list.search .search-filter {
        display: none;
    }

    .mobile-lecture-list.search #search-button-group {
        display: none;
    }

    .mobile-lecture-list.search .search-page-title {
        display: none;
    }
    /* Timetable + lecture list view end */
}
