.none
{
    display:none !important;
}

i
{
    vertical-align:top;
}





/* Lecture in top-left side */


.basic-info-name.fixed-ko
{
    width: 23px;
}
.basic-info-name.fixed-en
{
    width: 32px;
}



/* Search at bottom-left side */

.search-filter input[type="checkbox"] 
{
    display:none !important;
}

.search-filter-title.fixed-ko
{
    width: 23px;
}
.search-filter-title.fixed-en
{
    width: 32px;
}

:global(.nano) {
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    margin: 0px -12px -12px 0px;
    width: auto !important;
}
:global(.nano-content) {
    margin-right: 0px;
}
:global(.nano-content) > *{
    margin-right: 12px;
}
:global(.nano-pane) {
    width: 4px !important;
    margin: 0px 4px 10px 4px;
    background-color:transparent !important;
}
:global(.nano-slider) {
    margin:0px !important;
    background-color:#ccc !important;
}




/* Timetable at center */

.drag-close
{
    background: url(../static/icons/delete_lecture.svg) no-repeat center center;
    width:8px;
    height:8px;
    top:4px;
    right:4px;
    position:absolute;
    pointer-events:auto;
    cursor:pointer;
}

.drag-close:hover
{
    background: url(../static/icons/delete_lecture_hover.svg) no-repeat center center;
}

.drag-icon
{
    background: url(../static/icons/drag_add.svg) no-repeat center center;
    width:7px;
    height:9px;
    margin-right:4px;
    display:inline-block;
    vertical-align:top;
}

.drag-text:hover > .drag-icon
{
    background-image: url(../static/icons/drag_add_hover.svg);
}





.share-button#facebook > i
{
    background: url(../static/icons/share_facebook.svg) no-repeat center center;
}
.share-button#facebook:hover > i
{
    background-image: url(../static/icons/share_facebook_hover.svg);
}

.share-button#show-lecture-list > i {
    background: url(../static/icons/add_lecture.svg) no-repeat center center;
}
.share-button#show-lecture-list:hover > i {
    background-image: url(../static/icons/add_lecture_hover.svg);
}

.share-button#show-timetable-list > i {
    background: url(../static/icons/duplicate_table.svg) no-repeat center center;
}
.share-button#show-timetable-list:hover > i {
    background-image: url(../static/icons/duplicate_table_hover.svg);
}


#lecture-tabs
{
    margin-bottom:3px;
    cursor:pointer;
}

#lecture-contents
{
    clear:both;
    padding:5px;
}

#department
{
    width:100%;
}

#keyword
{
    width:100%;
}

#classfication
{
    width:100%;
}


.lecture-occupied
{
    background-color: #888;
    position: absolute;
    left: 0;
    width: calc(100%);
    z-index: -1;
    border-radius: 2px;
}


@media(max-width: 768px) {
    /* Modal for timetable list view start*/
    .modal-timetable-list .navbar-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-timetable-list #content
    {
        margin-top: 0px;
    }

    .modal-timetable-list #left-side
    {
        display: none;
    }
    .modal-timetable-list #timetable
    {
        display: none;
    }
    .modal-timetable-list #right-side
    {
        display: none;
    }
    .modal-timetable-list #semester
    {
        float: none;
        margin: auto;
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .modal-timetable-list #timetable-tabs
    {
        float: none;
        width: 100vw;
    }
    .modal-timetable-list :global(.container-fluid)
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-timetable-list #page-container
    {
        margin-top: 50px;
        width: 100vw;
        background-color: rgb(0,0,0,0.6);
        height: calc(100vh - 50px);

    }

    .modal-timetable-list #timetable-tabs > div {
        width: calc(100vw - 30px);
        margin-top: 6px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgb(238, 238, 238);
        margin-left: 5px;
    }

    .modal-timetable-list #timetable-tabs > div.timetable-add {
        width: calc(100vw - 30px);
        margin-left: 5px;
    }
    .modal-timetable-list #timetable-tabs > div.active {
        background-color: rgb(221, 221, 221);
    }
    .modal-timetable-list #center
    {
        background-color: #ffffff;
        margin-top: 10px;
        width: calc(100vw - 30px);
        margin-right: 10px;
        border-radius: 4px 4px 4px 4px;
        height: calc(100vh - 70px);
        margin-left: 10px;

    }
    .modal-timetable-list .timetable-tab.active>.hidden-option {
        float: right;
        display: inline-block;
    }
    .modal-timetable-list .delete-table {
        float: right;
        padding-right: 5px;
    }
    .modal-timetable-list .timetable-tab .timetable-num {
        float: left;
    }
    .modal-timetable-list .timetable-tab>.hidden-option {
        display: inline-block;
    }
    .modal-timetable-list .duplicate-table
    {
        float: right;
    }
    .modal-timetable-list #timetable-menu {
        display: block;
    }


    /* Modal for timetable list view end */

    /* Modal for lecture info view start */
    .modal-lecture-info #content
    {
        margin-top: 0px;
    }
    .modal-lecture-info #center
    {
        display: none;
    }
    .modal-lecture-info #lecture-info
    {
        margin-top: 60px;
        width: calc(100vw - 30px);
        height: calc(100vh - 70px);
        margin-left: 15px;
    }
    .modal-lecture-info #lecture-lists
    {
        display:none;
    }

    .modal-lecture-info #page-container{
        width: 100vw;
        height: 100vh;
        margin-top: 0px;
        background-color: rgb(0,0,0,0.6);
    }
    .modal-lecture-info #left-side {
        display: block;
    }
    .modal-lecture-info :global(.container-fluid)
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .modal-lecture-info .navbar-header{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Modal for lecture info view end  */

    /* Basic timetable view start */

    #page-container {
        margin:15px auto 0 auto;
        width:100%;
        height:calc(100vh - 83px);
    }

    #left-side {
        display: none;
    }

    #center {
        margin-left: 0;
        float: none;
    }

    #right-side {
        margin: 0;
        background-color: #FFFFFF;
        height:96px;
        flex-direction:column;
        width: auto;
        border: none;
    }

    #timetable-menu {
        display: none;
    }

    #timetable {
        flex-direction: column;
        height:100%;
        border-radius:6px;
    }

    #timetable-wrap {
        flex: 1;
        height: auto;
    }

    #map {
        display: none;
    }

    #map-img {
        display: none;
    }

    #summary {
        flex: 1;
        display: flex;
    }

    #summary-type {
        display: inline-block;
        margin-top: 3px;
        width: 200px;
    }

    .summary-type-elem {
        width: 33.33%;
        text-align: center;
        margin-top: 6px;
        vertical-align: top;
    }

    #summary-credit {
        flex: 2;
        display: flex;
    }

    .summary-credit-elem {
        display: inline-block;
        width: auto;
        flex: 1;
        vertical-align: top;
    }

    #summary-score {
        flex: 3;
        display: flex;
    }

    .summary-score-elem {
        width: auto;
        flex: 1;
    }

    #exam-timetable {
        display: none;
    }

    .exam-day {
        display: none;
    }

    #share-buttons {
        padding: 10px 0;
        border: none;
        margin-top: 0;
    }

    #share-buttons > .right-btn-group {
        display: block;
    }
    /* Basic timetable view end */


    /* Timetable + lecture list view start */
    .mobile-lecture-list #page-container {
        -ms-flex-direction:column-reverse;
            flex-direction:column-reverse;
    }

    .mobile-lecture-list #left-side {
        display: block;
        width: 100%;
        height: 226px;
        /*flex: 1;*/
        padding-top: 16px;
    }

    .mobile-lecture-list #center {
        height: 0;
        -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
    }

    .mobile-lecture-list #right-side {
        height: auto;
    }

    .mobile-lecture-list #lecture-info {
        display: none;
    }

    .mobile-lecture-list #lecture-lists {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .mobile-lecture-list .search-extend {
        height: auto;
    }

    .mobile-lecture-list .search-form-wrap > form
    {
        padding-bottom: 0;
        border-bottom: none;
    }

    .mobile-lecture-list #timetable {
        /*flex-direction: row;*/
    }

    .mobile-lecture-list #summary {
        display: none;
    }

    .mobile-lecture-list.search .search-filter {
        display: none;
    }

    .mobile-lecture-list.search #search-button-group {
        display: none;
    }

    .mobile-lecture-list.search .search-page-title {
        display: none;
    }
    /* Timetable + lecture list view end */
}
