{% extends "review/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
<form id="contact" method="post">
  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
	      내가 들은 과목
        </div>
      </div>
      <div class="list-group">
		{% for lecture in object %}
		<a href="/review/insert/{{lecture.lecid}}" class="list-group-item {%ifequal lecture.lecid lecture_id %}active{% endifequal %}" }>{{lecture.title}}({{lecture.old_code}} {{lecture.professor}})</a>
		{% endfor%}
      </div>
    </div>
    <div class="col-xs-18">
      <div class="text-right">
        <form>
          <label>학점
            <select class="form-control" name="gradescore">
  	    {% for single_grade in gradelist %}
	    <option value={{forloop.counter}} {% ifequal grade single_grade %}selected{%endifequal%}>{{single_grade}}</option>
	    {% endfor %}
            </select>
          </label>
          <label>로드
	    <select class="form-control" name="loadscore">
  	    {% for single_grade in gradelist %}
	    <option value={{forloop.counter}} {% ifequal load single_grade %}selected{%endifequal%}>{{single_grade}}</option>
	    {% endfor %}
            </select>
          </label>
          <label>강의
            <select class="form-control" name="speechscore">
            {% for single_grade in gradelist %}
	    <option value={{forloop.counter}} {% ifequal speech single_grade %}selected{%endifequal%}>{{single_grade}}</option>
	    {% endfor %}
            </select>
          </label>
        </form>
      </div>
      <div style="margin-top: 25px;">
          {% csrf_token %}
          <textarea class="form-control" name="content" rows= "10" placeholder = "{{reviewguideline}}">{{comment}}</textarea>
	  <input type="hidden" name = "sid" value = {{sid}} />
	  <input type="hidden" name = "lectureid" value = {{lecture_id}} />
          <div class="text-right" style="margin-top: 25px;">
            {%ifnotequal comment ""%}<input type="submit" class="btn btn-danger" formaction = "../../delete/" value="clear">{%endifnotequal%}
            <input type="submit" class="btn btn-primary" formaction = "./add/" value="저장하기">
          </div>
      </div>
    </div>
</div>
</form>
{% endblock %}

{% block modals %}
  {{ block.super }}
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
