<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      OTL 튜토리얼 
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Attach Joyride CSS -->
    <link rel="stylesheet" href="/media/js/joyride-master/joyride-2.1.css">

    <link rel="shortcut icon" href="/media/img/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/global.css">
    <link rel="stylesheet" type="text/css" href="/media/css/components/header/search.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/components/option-main.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/components/expect.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/components/review-main.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/search.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/result.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/components/course.css">

    <style>
      .ui-autocomplete {
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        border-radius: 10px;
      }
      .ui-autocomplete .ui-menu-item.ui-state-focus{
        background: #F0F0F0;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
        height: 300px;
      }
    </style> 
  </head>
  <body>
    <nav class="tutorial-main navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header" aria-expanded="false">
              <span class="sr-only">Toggle navigation
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </button>
            <a id="stop-main-01" class="navbar-brand" href="/">OTL 
              <span class="header_hide">Dictionary
              </span>
            </a>
          </div>
          <div class="header-middle collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
              <li>
                <a id="stop-main-new" href="/review/">
                  따끈따끈 과목후기
                </a>
              </li>
              <li>
                <a id="stop-main-write" href="/review/insert/" style="padding-right:0px">
                  과목후기 작성하기
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hid">
              <li>
                <a href="/session/">
                  로그인
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-end collapse navbar-collapse" id="header">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/session/">
                로그인
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>
  <section id="contents" class="tutorial-main container-fluid">
    <div class="row">
      <div class="col-xs-22 col-xs-offset-1 col-sm-20 col-sm-offset-2 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4 text-center">
        <form role="form" class="row">
          <div class="search_bar col-xs-24 col-sm-14 col-md-16 col-lg-18">
            <input id="keyword" type="text" name="q" autocomplete="on" class="form-control" placeholder="Search">
          </div>
          <div class="search_bar col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <div id="option" type="button" class="btn btn-lg btn-block btn-danger">
              필터
            </div>
          </div>
          <div class="search_bar col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <input type="submit" class="btn btn-lg btn-block btn-danger" formaction = "/review/result" value="검색">
          </div>
          <form role="form" class="form" method="get" id="filter_form">
            <div id="options" class="form-horizontal row">
              <div class="form-group">
                <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">분류
                </label>
                <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
                  <div class="controls">
                    <label>
                      <input class="chkall" type="checkbox" autocomplete="off" name="type" value="ALL" checked="checked">전체
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="GR" >공통
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="MGC" >교필
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="BE" >기선
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="BR" >기필
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="EG" >석박
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="HSE" >인선
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="OE" >자선
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="ME" >전선
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="MR" >전필
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="type" value="ETC" >기타
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학과
                </label>
                <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
                  <div class="controls">
                    <label>
                      <input class="chkall" type="checkbox" autocomplete="off" name="department" value="ALL" checked="checked">전체
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="HSS">인문
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="CE">건환
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="MSB">기경
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="MAE">기계
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="PH">물리
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="BiS">바공
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="IE">산공
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="ID">산디
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="BS">생명
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="MAS">수리
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="NQE">원양
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="EE">전자
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="CS">전산
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="MAE">항공
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="CH">화학
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="ETC">기타
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="CBE">생화공
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="department" value="MS">신소재
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학년
                </label>
                <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
                  <div class="controls">
                    <label>
                      <input class="chkall" type="checkbox" autocomplete="off" name="grade" value="ALL" checked="checked">전체
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="000" >000번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="100" >100번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="200" >200번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="300" >300번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="400" >400번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="500" >500번대
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem" type="checkbox" autocomplete="off" name="grade" value="HIGH" >석박사
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학기
                </label>
                <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
                  <div class="controls">
                    <label>
                      <input class="chkall chkone" type="checkbox" autocomplete="off" name="semester" value="ALL" checked="checked" >전체
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem chkone" type="checkbox" autocomplete="off" name="semester" value="NEXT" >다음
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem chkone" type="checkbox" autocomplete="off" name="semester" value="NOW" >현재
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem chkone" type="checkbox" autocomplete="off" name="semester" value="PREV" >이전
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                    <label>
                      <input class="chkelem chkone" type="checkbox" autocomplete="off" name="semester" value="RECENT" >최근
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x">
                        </i>
                        <i class="fa fa-check fa-stack-1x">
                        </i>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-22 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-9 col-md-offset-3 col-lg-8 col-lg-offset-4">
        <h2 class="text-center" style="cursor:default">
          사랑받는 교양 후기
        </h2>
        <div class="panel panel-default review">
          <div class="panel-body">
            <div class="row">
              <div id="2896" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
                <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
                <input type="hidden" name="2896" value="910">
                <input type="hidden" name="course_id" value="2896">
                <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">German Conversation 
                  <small class="text-muted"> 홍명순      2012
                  </small>
                </h4>
              </div>
              <div class="col-xs-24 col-sm-24 col-md-12">
                <span class="hidr-r">
                  <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
                    <div class="score-elem-review">
                      성적&nbsp 
                      <span class="score_letter-review" >?
                      </span>
                    </div>
                    <div class="score-elem-review">
                      널널&nbsp
                      <span class="score_letter-review" >?
                      </span>
                    </div>
                    <div class="score-elem-review">
                      강의&nbsp
                      <span class="score_letter-review" >?
                      </span>
                    </div>
                    <div class="score-elem-review">
                      종합&nbsp
                      <span class="score_letter-review" >?
                      </span>
                    </div>
                    <div class="score-elem-review">
                      추천&nbsp
                      <span class="score_letter-review like_num 2896" >0
                      </span>
                    </div>
                  </div>
                </span>
              </div>
              <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="2896">
                <input type="hidden" name="2896" value="2896">
                <p>
                <p>독일어 예전부터 배워보고 싶어서 들었는데, 딱 맛보기 정도 잘 한 것 같습니다. 출석체크를 질의응답으로 하시기 때문에 매시간 긴장의 끈을 놓을 수가 없습니다. 배운 내용 복습 그날 그날 해야되구요. 시험 난이도 자체는 크게 어렵지 않으나, 평소에 단어 같은 것을 외워 놓지 않으면 시험 전에 외워야 할 양이 좀 많을 수 있습니다. 수업 시간에 대답 못하면 점수가 깎이기도 하구요. 수업 자체는 굉장히 재미있고, 교수님도 좋으십니다. 기본반이라 듣고 나서 독일어로 술술 말하거나 할 수는 없지만, 나중에 다시 독일어를 배우게 된다고 해도 도움이 될 것이라 생각됩니다. 
                </p>
                </p>
            </div>
            <div class="col-xs-24">
              <span class="score_table_bottomr hidr" style="width:210px">
                <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
                  <div class="score-elem-review">
                    성적&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    널널&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    강의&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    종합&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    추천&nbsp
                    <span class="score_letter-review like_num 2896" >0
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default review">
        <div class="panel-body">
          <div class="row">
            <div id="2890" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
              <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
              <input type="hidden" name="2890" value="916">
              <input type="hidden" name="course_id" value="2890">
              <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">한국근현대사 
                <small class="text-muted"> 고동환      2012
                </small>
              </h4>
            </div>
            <div class="col-xs-24 col-sm-24 col-md-12">
              <span class="hidr-r">
                <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
                  <div class="score-elem-review">
                    성적&nbsp 
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    널널&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    강의&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    종합&nbsp
                    <span class="score_letter-review" >?
                    </span>
                  </div>
                  <div class="score-elem-review">
                    추천&nbsp
                    <span class="score_letter-review like_num 2890" >0
                    </span>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="2890">
              <input type="hidden" name="2890" value="2890">
              <p>
              <p>남는게 많은 과목입니다.
                <br />로드가 빡세진 않은데 레포트가 조금 귀찮고요
                <br />교과서가 좌편향됬다는 느낌은 전혀 모르겠고,
                <br />교수님이 여러 관점에서 근현대사를 설명해주시기 때문에 상당히 흥미롭습니다.
              </p>
              </p>
          </div>
          <div class="col-xs-24">
            <span class="score_table_bottomr hidr" style="width:210px">
              <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
                <div class="score-elem-review">
                  성적&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  널널&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  강의&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  종합&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  추천&nbsp
                  <span class="score_letter-review like_num 2890" >0
                  </span>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default review">
      <div class="panel-body">
        <div class="row">
          <div id="2972" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
            <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
            <input type="hidden" name="2972" value="2040">
            <input type="hidden" name="course_id" value="2972">
            <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">한글, 문자, 문명 
              <small class="text-muted"> 시정곤      2012
              </small>
            </h4>
          </div>
          <div class="col-xs-24 col-sm-24 col-md-12">
            <span class="hidr-r">
              <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
                <div class="score-elem-review">
                  성적&nbsp 
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  널널&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  강의&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  종합&nbsp
                  <span class="score_letter-review" >?
                  </span>
                </div>
                <div class="score-elem-review">
                  추천&nbsp
                  <span class="score_letter-review like_num 2972" >0
                  </span>
                </div>
              </div>
            </span>
          </div>
          <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="2972">
            <input type="hidden" name="2972" value="2972">
            <p>
            <p>문자의 역사에 따라 문명이 어떻게 발전해 왔고를 고대어 부터 한글의 발명과 현대 한글까지 알아보는 수업입니다. 
            </p>
            <p>퀴즈 2번에 중간/기말 고사가 있어서 시험을 4번 보는 기분입니다ㅋㅋ 
            </p>
            <p>4~5번 정도의 읽기자료를 읽고 보고서를 제출하는 숙제가 있고, 가끔 있는 동영상 자료 시청강의에서는 동영상 자료에서 나오는 내용들 중에 질문에 답을 적어서 내야 합니다. 
            </p>
            <p>시험이나 수업은 조금 외울 것이 많은 편입니다. 
            </p>
            </p>
        </div>
        <div class="col-xs-24">
          <span class="score_table_bottomr hidr" style="width:210px">
            <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
              <div class="score-elem-review">
                성적&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                널널&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                강의&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                종합&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                추천&nbsp
                <span class="score_letter-review like_num 2972" >0
                </span>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>
<div class="col-xs-22 col-xs-offset-1 col-sm-10 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-8 col-lg-offset-0">
  <h2 id="stop-main-beloved" class="text-center" style="cursor:default">
    사랑받는 전공 후기
  </h2>
  <div class="panel panel-default review">
    <div class="panel-body">
      <div class="row">
        <div id="5591" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
          <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
          <input type="hidden" name="5591" value="775">
          <input type="hidden" name="course_id" value="5591">
          <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">전산망 개론 
            <small class="text-muted"> 문수복      2014
            </small>
          </h4>
        </div>
        <div class="col-xs-24 col-sm-24 col-md-12">
          <span class="hidr-r">
            <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
              <div class="score-elem-review">
                성적&nbsp 
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                널널&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                강의&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                종합&nbsp
                <span class="score_letter-review" >?
                </span>
              </div>
              <div class="score-elem-review">
                추천&nbsp
                <span class="score_letter-review like_num 5591" >1
                </span>
              </div>
            </div>
          </span>
        </div>
        <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="5591">
          <input type="hidden" name="5591" value="5591">
          <p>
          <p>핀토스, 오디세우스와 함께 전산 플젝 3대장 켄스 플젝이 있는 네트워크입니다. 전산과생이라면 꼭 들어야 하는 강의라 생각하고 실제 배우는 것도 많습니다. 교수님 강의력도 훌륭하고 학점도 잘 주십니다. 핀토스나 오디세우스를 짜 본 분이라면 켄스는 아주 쉽게 느껴질 거에요.
          </p>
          </p>
      </div>
      <div class="col-xs-24">
        <span class="score_table_bottomr hidr" style="width:210px">
          <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
            <div class="score-elem-review">
              성적&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              널널&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              강의&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              종합&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              추천&nbsp
              <span class="score_letter-review like_num 5591" >1
              </span>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default review">
  <div class="panel-body">
    <div class="row">
      <div id="2901" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
        <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
        <input type="hidden" name="2901" value="189">
        <input type="hidden" name="course_id" value="2901">
        <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">산업공학정보기술 
          <small class="text-muted"> 서효원      2012
          </small>
        </h4>
      </div>
      <div class="col-xs-24 col-sm-24 col-md-12">
        <span class="hidr-r">
          <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
            <div class="score-elem-review">
              성적&nbsp 
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              널널&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              강의&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              종합&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              추천&nbsp
              <span class="score_letter-review like_num 2901" >0
              </span>
            </div>
          </div>
        </span>
      </div>
      <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="2901">
        <input type="hidden" name="2901" value="2901">
        <p>
        <p>숙제도 별로 없는 대신에 한 학기 동안 하나의 프로젝트를 수행해야 하는데 이 프로젝트가 할 게 엄청 많습니다. 코딩 잘하시는 분이 조원으로 있으면 괜찮은데, 조원 전체가 코딩에 익숙치 않으면 점수 배점이 얼마 되지 않는데 프로젝트가 시간을 많이 잡아먹습니다. 그래도 프로젝트의 주제를 정하고 진행하면서 사용자의 니즈, 편의성 등을 고려해야 하기 때문에 실제 기업환경에서는 어떤 식으로 진행할까에 대해 많은 경험을 쌓은 거 같습니다. 교수님 영어가 매끄럽지 못해서 수업은 약간 별로라고 느꼈는데 한국어로 보충 설명하실 때는 강의를 잘하십니다.
        </p>
        </p>
    </div>
    <div class="col-xs-24">
      <span class="score_table_bottomr hidr" style="width:210px">
        <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
          <div class="score-elem-review">
            성적&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            널널&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            강의&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            종합&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            추천&nbsp
            <span class="score_letter-review like_num 2901" >0
            </span>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
</div>
<div class="panel panel-default review">
  <div class="panel-body">
    <div class="row">
      <div id="2948" style="cursor:Pointer" class="label-title lecture ellipsis-wrapper col-xs-24 col-sm-24 col-md-12">
        <input type="hidden" id="csrf_token" value="i3OHppd44n3X1wDFqcDI7bmbozaanRCl">
        <input type="hidden" name="2948" value="1461">
        <input type="hidden" name="course_id" value="2948">
        <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">물리화학Ⅱ 
          <small class="text-muted"> 이효철      2012
          </small>
        </h4>
      </div>
      <div class="col-xs-24 col-sm-24 col-md-12">
        <span class="hidr-r">
          <div class="score_table text-left col-xs-24" style="cursor:default important!; margin-right:-40px; min-width:350px; display:inline-block" >
            <div class="score-elem-review">
              성적&nbsp 
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              널널&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              강의&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              종합&nbsp
              <span class="score_letter-review" >?
              </span>
            </div>
            <div class="score-elem-review">
              추천&nbsp
              <span class="score_letter-review like_num 2948" >0
              </span>
            </div>
          </div>
        </span>
      </div>
      <div class="col-xs-24 comment text-muted " style="cursor:Pointer" id="2948">
        <input type="hidden" name="2948" value="2948">
        <p>
        <p>화학과 최고의 로드를 자랑하는 과목입니다.
          <br />매 시간 출첵 / 숙제, 그리고 2~3주정도에 한번씩 퀴즈가 있습니다.
          <br />숙제+써머리를 매 수업 시간 전에 제출해야 하는데, 아침 9시가 지나는 순간 점수는 1/2, 10시 반이 지나는 순간 0점이 됩니다. 
          <br />로드는 많이 빡세서 각오하고 들으셔야 합니다 ㅎㅎ
        </p>
        <p>대신, 교수님께서 수업은 정말 잘 해 주십니다. 책을 요약해서 읽어 주시는 것 같은데 깔끔하게 설명을 해 주셔서 수업을 열심히 듣는다면 처음 배우는 내용이라도 간단한 복습으로 이해가 가능합니다. 덕분에 숙제도 매 시간 할 수 있구요....ㅋ.....
        </p>
        <p>남는건 정말 많은데 많이 빡세다..고 알고 계시면 될 것 같습니다.
          <br />학점은 절대평가로 주시는데, 잘 주시진 않은 것 같습니다. 중간 기말을 모두 봤는데 절대평가로 F를 받은 학생도 몇 명 있고...
          <br />하기 나름인 것 같습니다. 빡센 학기가 아니라면 도전해 보시면 좋을 겁니다. 
          <br />이제 물리2가 전필로 바꼈다고 알고 있는데 후배님들 힘내세요 ^^
        </p>
        </p>
    </div>
    <div class="col-xs-24">
      <span class="score_table_bottomr hidr" style="width:210px">
        <div class="score_table-bottomr text-left col-xs-24" style="min-width:210px; padding:0px; display:inline-block" >
          <div class="score-elem-review">
            성적&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            널널&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            강의&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            종합&nbsp
            <span class="score_letter-review" >?
            </span>
          </div>
          <div class="score-elem-review">
            추천&nbsp
            <span class="score_letter-review like_num 2948" >0
            </span>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>
<!-- Tip Content -->
<ol id="joyRideTipContent">
   <li data-id="stop-main-01" data-button="Next" data-options="tipLocation:bottom;tipAnimation:fade">
   <h3>{{hello_message}}</h3>
     <br>
     <p>새로운 OTL을 소개하고자 합니다! 실제로 사용하기 전에 견본 튜토리얼 페이지로 새로운 기능을 둘러 보세요.</p>
   </li>
   <li data-id="option" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
     <h2>필터</h2>
     <p>주의 : 학기 필터의 기준은 후기가 아니라 개설 강의입니다. 다음을 체크하면 다음에 열리는 강의들의 이전 후기들을 볼 수 있습니다.</p>
   </li>
   <li data-id="stop-main-beloved" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
     <h2>사랑받는 후기들</h2>
     <p>사랑받는 후기들에서는 많은 추천수를 받은 후기들을 랜덤으로 갱신해서 보여줍니다. 사랑받는 전공 후기에는 전공 과목 뿐 아니라 기초과목도 포함됩니다. 강의, 널널, 성적 등의 항목은 학생에게 유리할 수록(잘할수록, 널널할수록, 성적이 후할수록) 높은 점수(레터그레이드)를 받습니다. 평가하지 않은 경우에는 ?가 표시됩니다.</p>
   </li>
   <li data-id="stop-main-new" data-button="Next" data-options="tipLocation:bottom;tipAnimation:fade">
     <h2>따끈따끈 과목후기</h2>
     <p>따끈따끈 과목후기에서는 따끈따끈한 후기들이 최신순으로 정렬되어 올라옵니다. </p>
   </li>
   <li data-id="stop-main-write" data-button="Next" data-options="tipLocation:bottom;tipAnimation:fade">
     <h2>과목후기 작성하기</h2>
     <p>과목후기 작성을 알아봅시다. 가입과 포탈 연동이 안되어있다면 그것부터 진행하셔야 합니다. </p>
   </li>
 </ol>
<script type="text/javascript" src="/media/js/jquery.min.js">
</script>
<script type="text/javascript" src="/media/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="/media/js/components/header.js">
</script>
<script type="text/javascript" src="/media/js/review/search.js">
</script>
<script type="text/javascript" src="/media/js/review/components/option.js">
</script>
<script type="text/javascript" src="/media/js/review/components/review.js">
</script>
<script src="//code.jquery.com/jquery-1.10.2.js">
</script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js">
</script>

<!-- Run the plugin -->
 <script type="text/javascript" src="/media/js/joyride-master/jquery-1.10.1.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/jquery.cookie.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/modernizr.mq.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/jquery.joyride-2.1.js"></script>
 <script>
   $(window).load(function() {
     $('#joyRideTipContent').joyride({
       autoStart : true,
       postStepCallback : function (index, tip) {
       /*
       if (index == 2) {
         $(this).joyride('set_li', false, 1);
       }
       */
     },
     modal:true,
     expose: true
     });
    });
    $(document).on("click",".joyride-next-tip:eq(0)", function() {
        $("#option").addClass("active");
        $('#options').addClass("active");
    });
    $(document).on("click",".joyride-next-tip:eq(1)", function() {
        $("#option").removeClass("active");
        $('#options').removeClass("active");
    });
    $(document).on("click",".joyride-next-tip:eq(4)", function() {
        $(location).attr('href', "../tutorial2")
    });
    $(window).resize(function() {
        if ($(window).width()<768){
            $(location).attr('href', "/main")
        };
    });
      $(document).ready(function(){
        if ($(window).width()<768){
          $(location).attr('href', "/main")
        };
      });

 </script>
</body>
</html>
