<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Attach Joyride CSS -->
    <link rel="stylesheet" href="/media/js/joyride-master/joyride-2.1.css">

    <title>
      OTL 후기작성 튜토리얼
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/media/img/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/global.css">
    <link rel="stylesheet" type="text/css" href="/media/css/components/header/insert.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/components/expect.css">
    <link rel="stylesheet" type="text/css" href="/media/css/review/insert.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header" aria-expanded="false">
              <span class="sr-only">Toggle navigation
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </button>
            <a id="tutorialend" class="navbar-brand" href="/">OTL 
              <span class="header_hide">Dictionary
              </span>
            </a>
          </div>
          <div class="header-middle collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
              <li>
                <a href="/review/">
                  따끈따끈 과목후기
                </a>
              </li>
              <li>
                <a href="/review/insert/" style="padding-right:0px">
                  과목후기 작성하기
                </a>
              </li>
            </ul>
            <form class="hid-r navbar-form navbar-left float-right" role="search">
              <div class="form-group">
                <input id="keyword" type="text" name="q" class="form-control" placeholder="Search">
              </div>
              <button id="option" class="btn btn-default" type="button">필터
              </button>
              <button id="search" class="btn btn-default" type="submit" formaction="/review/result/">검색
              </button>
            </form>
            <ul class="nav navbar-nav navbar-right hid">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="header_hide">
                    김재성 
                  </span>
                  <span class="caret">
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/session/settings">
                      마이페이지
                    </a>
                  <li role="separator" class="divider">
                  </li>
                  <li>
                    <a href="https://sparcssso.kaist.ac.kr/account/profile/">
                      SPARCSSSO
                    </a>
                  </li>
                  <li role="separator" class="divider">
                  </li>
                  <li>
                    <a href="/session/logout/">
                      로그아웃
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-end collapse navbar-collapse" id="header">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user">
                </span>
                <span class="header_hide">
                  김재성 
                </span>
                <span class="caret">
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/session/settings">
                    마이페이지
                  </a>
                </li>
                <li role="separator" class="divider">
                </li>
                <li>
                  <a href="https://sparcssso.kaist.ac.kr/account/profile/">
                    SPARCSSSO
                  </a>
                </li>
                <li role="separator" class="divider">
                </li>
                <li>
                  <a href="/session/logout/">
                    로그아웃
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>
  <section id="contents" class="container-fluid">
    <div class="row">
      <div class="col-xs-22 col-xs-offset-1 col-sm-20 col-sm-offset-2 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4">
        <div class="panel expect" style="display:inline-block;padding-right:5px">
          <div class="panel-title" style="display:inline-block">
            <h4 style="display:inline-block">학기 선택
            </h4>
          </div>
          <div id="termchoice" class="panel-body" style="line-height:2.3;padding-left:0px; padding-right:0px ;padding-bottom:5px;display:inline-block">
            <span class="label-a">
              <a href="/review/insert/-1/161/" id="161" class="label active">
                16봄
              </a>
            </span>
            <span class="label-a">
              <a href="/review/insert/-1/154/" id="154" class="label deactive">
                15겨울
              </a>
            </span>
            <span class="label-a">
              <a href="/review/insert/-1/153/" id="153" class="label deactive">
                15가을
              </a>
            </span>
            <span class="label-a">
              <a href="/review/insert/-1/151/" id="151" class="label deactive">
                15봄
              </a>
            </span>
            <span class="label-a">
              <a href="/review/insert/-1/143/" id="143" class="label deactive">
                14가을
              </a>
            </span>
            <span class="label-a">
              <a href="/review/insert/-1/141/" id="141" class="label deactive">
                14봄
              </a>
            </span>
          </div>
        </div>
        <div id="lecturechoice" class="panel-b col-xs-24 expect" >
          <div class="panel-title">
            <h4>어떤 과목의 후기를 쓰실건가요?
            </h4>
          </div>
          <div class="panel-body">
            <div class="col-xs-24" style="padding:0px">
              <span class="label-b">
                <a href="/review/insert/661/161/" class="label deactive">
                  확률및통계(MAS250 황강욱)
                </a>
              </span>
              <span class="label-b">
                <a href="/review/insert/2902/161/" class="label deactive">
                  알고리즘 개론(CS300 최성희)
                </a>
              </span>
              <span class="label-b">
                <a href="/review/insert/2903/161/" class="label deactive">
                  전산기조직(CS311 윤현수)
                </a>
              </span>
              <span class="label-b">
                <a href="/review/insert/2904/161/" class="label deactive">
                  프로그래밍언어(CS320 류석영)
                </a>
              </span>
              <span class="label-b">
                <a href="/review/insert/3715/161/" class="label deactive">
                  댄스스포츠(HSS050 이수연)
                </a>
              </span>
              <span class="label-b">
                <a href="/review/insert/3756/161/" class="label deactive">
                  Special Topics in Social Sciences&lt;국제분쟁과 미디어&gt;(HSS332 강경란)
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <form id="contact" method="post" class="col-xs-22 col-xs-offset-1 col-sm-20 col-sm-offset-2 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4">
        <div id="writeandgrade" class="panel-b col-xs-24 expect">
          <div class="select_menu panel-title">
            <h4>확률및통계
            </h4>
          </div>
          <div class="panel-body">  
            <div style="margin-top: 15px;">
              <div class="insert-div">
                <input type='hidden' name='csrfmiddlewaretoken' value='CE6rF4ICSoMfzQPksFaIGcD9MjyA0jxq' />
                <textarea  class="form-control insert-box" name="content" rows= "10" placeholder = "1) 학점, 로드 등의 평가에 대하여 왜 그렇게 평가를 했는지 간단히 서술해주세요.
                                                                                                    ex) 진도를 빠르고 많이 나가는 경향이 있습니다 / 학점은 절대평가로 주셔서 열심히 공부하면 잘 나오는 것 같아요 / 과제는 6번 주어졌고, 각 과제마다 시간이 약 6 ~ 8 시간 소요된 것 같습니다.
                                                                                                    2) 최대한 본인의 감정을 배제해주시면 감사하겠습니다.
                                                                                                    ex) 교수님이 저를 맘에 안 들어하시는 것 같아요 (X) / 시험기간에 플젝 내준건 좀 너무하다싶었음 (X)
                                                                                                    3) 나중에 이 수업을 들을 학생들을 위해 여러 조언들을 해주세요.
                                                                                                    ex) 이 수업을 들으시려면 먼저 이산구조와 데이타구조를 먼저 듣고 오시는 것을 추천합니다. / 교수님이 수업하실 때 열심히 참여하시면 좋을 것 같아요."></textarea>
                <input type="hidden" name = "lectureid" value = 661 />
                <input type="hidden" name = "semester" value = 161 />
              </div>
              <div style="width:230px;vertical-align:top;display:inline-block">
                <table class="col-xs-24">
                  <tr>
                    <td class="radio-head">
                      성적
                    </td>
                    <td>
                      <div class="col-xs-24" style="padding:0px">
                        <label class="label-radio text-left">
                          <input type="checkbox" name="gradescore" class="hidden chkone" value=1 checked>
                          A
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="gradescore" class="hidden chkone" value=2 >
                          B
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="gradescore" class="hidden chkone" value=3 >
                          C
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="gradescore" class="hidden chkone" value=4 >
                          D
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="gradescore" class="hidden chkone" value=5 >
                          F
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td class="radio-head">
                      널널
                    </td>
                    <td>
                      <div class="col-xs-24" style="padding:0px">
                        <label class="label-radio text-left">
                          <input type="checkbox" name="loadscore" class="hidden chkone" value=1 checked>
                          A
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="loadscore" class="hidden chkone" value=2 >
                          B
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="loadscore" class="hidden chkone" value=3 >
                          C
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="loadscore" class="hidden chkone" value=4 >
                          D
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="loadscore" class="hidden chkone" value=5 >
                          F
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td class="radio-head">
                      강의
                    </td>
                    <td>
                      <div class="col-xs-24" style="padding:0px">
                        <label class="label-radio text-left">
                          <input type="checkbox" name="speechscore" class="hidden chkone" value=1 checked>
                          A
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="speechscore" class="hidden chkone" value=2 >
                          B
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="speechscore" class="hidden chkone" value=3 >
                          C
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="speechscore" class="hidden chkone" value=4 >
                          D
                        </label>
                        <label class="label-radio text-left">
                          <input type="checkbox" name="speechscore" class="hidden chkone" value=5 >
                          F
                        </label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right" style="margin-top: 25px;">
          <input type="submit"  class="btn btn-review-upload" formaction = "./add/" value="업로드">
        </div>
      </form>
      </section>
    <ol id="joyRideTipContent">
      <li data-id="termchoice" data-text="Next" class="custom">
        <h2>학기 선택</h2>
        <p>후기를 남기고픈 강의를 들은 학기를 선택해주세요. 학기를 선택하면 아래에 그 학기에 들으신 과목들이 자동으로 표시됩니다.</p>
      </li>
      <li data-id="lecturechoice" data-text="Next" class="custom">
        <h2>과목 선택</h2>
        <p>후기를 쓰고 싶은 과목을 클릭하세요.</p>
      </li>
      <li data-id="writeandgrade" data-text="Next" class="custom">
        <h2>후기작성과 강의평가</h2>
        <p>점선 박스 안의 안내에 따라 후기를 작성한 후 교수님에게 학점을 드린다고 생각하고 강의를 평가해보세요! 메인페이지에서 설명해드렸듯 성적을 잘 주실수록, 로드가 널널할수록, 강의가 훌륭할수록 점수는 A에 가깝습니다. 강의의 전체성적이 A에 가까울수록 일반적으로 만족도가 높습니다.</p>
      </li>
      <li data-id="tutorialend" data-text="End" class="custom">
        <h2>튜토리얼 완료!</h2>
        <p>수고하셨습니다! End 버튼을 누르면 메인페이지로 돌아가며, 튜토리얼은 마이페이지-튜토리얼 다시보기 에서 언제든 다시 보실 수 있습니다.</p>
      </li>
    </ol>
    <script type="text/javascript" src="/media/js/jquery.min.js">
    </script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="/media/js/components/header.js">
    </script>
    <script type="text/javascript" src="/media/js/review/components/option.js">
    </script>
    <script type="text/javascript" src="/media/js/review/insert.js">
    </script>
    <!-- Run the plugin -->
     <script type="text/javascript" src="/media/js/joyride-master/jquery-1.10.1.js"></script>
     <script type="text/javascript" src="/media/js/joyride-master/jquery.cookie.js"></script>
     <script type="text/javascript" src="/media/js/joyride-master/modernizr.mq.js"></script>
     <script type="text/javascript" src="/media/js/joyride-master/jquery.joyride-2.1.js"></script>
     <script>
       $(window).load(function() {
         $('#joyRideTipContent').joyride({
           autoStart : true,
           postStepCallback : function (index, tip) {
           /*
           if (index == 2) {
             $(this).joyride('set_li', false, 1);
           }
           */
         },
         modal:true,
         expose: true
         });
      });
      $(document).on("click",".joyride-next-tip:eq(3)", function() {
        $(location).attr('href', "../")
      });
      $(window).resize(function() {
        if ($(window).width()<768){
          $(location).attr('href', "/main")
        };
      });
      $(document).ready(function(){
        if ($(window).width()<768){
          $(location).attr('href', "/main")
        };
      });
    
     </script>
  </body>
</html>

