

<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>SPARCS SSO 연동 튜토리얼</title>

    <!-- Attach Joyride CSS -->
    <link rel="stylesheet" href="/media/js/joyride-master/joyride-2.1.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
<link rel="stylesheet" type="text/css" href="/media/css/sso_register.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script src="/static/js/validator.min.js"></script>



</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SPARCS SSO</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/stats/">통계</a></li>
                    <li><a href="/help/">도움말</a></li>
                    
                    <li><a href="/dev/main">Dev Center</a></li>
                    
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Robert <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/account/profile/">프로필 / 연결</a></li>
                            <li><a href="/account/service/">서비스 관리</a></li>
                            <li><a href="/account/log/">활동 로그</a></li>
                            <li><a href="/account/point/">포인트</a></li>
                            
                            <li><a href="/account/password/change/">비밀번호 변경</a></li>
                            <li><a href="/account/deactivate/">비활성화</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="#" id="logout-link">로그아웃</a></li>
                    <form id="logout-form" action="/account/logout/" method="post" style="display:none"><input type='hidden' name='csrfmiddlewaretoken' value='NmBFLY9zk6egfhT3sLuKP4GyHg7Q4PDivOhpYDhK3X3ZDOMRB9KcHSlZR0mp47vl' /></form>
                    
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">한국어 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/lang/ko/">한국어</a></li>
                            <li><a href="/lang/en/">English</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container">
        
<h1>프로필 및 SNS 계정</h1>
<p>프로필 정보를 수정하거나 소셜 계정을 연결 및 연결 해제할 수 있습니다.</p>
<p>수정된 정보는 다른 SPARCS 서비스에 적용되지 않을 수 있습니다.</p>
<p>이메일을 변경하면 다시 인증을 받아야 합니다.</p>
<form id="profile" class="form-horizontal" action="/account/profile/" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
                
            </div>
        </div>
        <input type='hidden' name='csrfmiddlewaretoken' value='NmBFLY9zk6egfhT3sLuKP4GyHg7Q4PDivOhpYDhK3X3ZDOMRB9KcHSlZR0mp47vl' />
        <div class="form-group">
            <label class="col-sm-2 control-label">이메일 <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-8 col-sm-offset-0 col-sm-6">
                <input type="email" class="form-control" name="email" required="required" maxlength="50" data-remote="/api/v2/email/?exclude=ashe@sparcs.org" data-error="잘못되었거나 이미 가입된 이메일입니다." value="ashe@sparcs.org">
                <span class="help-block with-errors"></span>
            </div>
            <div class="col-xs-2 col-sm-2">
                
                <a href="#" disabled class="btn btn-success" style="width:100%">인증됨</a>
                
            </div>
        </div>
        <input type="hidden" name="password" value="qwerty1234">
        <div class="form-group">
            <label class="col-sm-2 control-label">이름 <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-6 col-sm-offset-0 col-sm-5">
                <input type="text" class="form-control" name="first_name" placeholder="First Name" required="required" maxlength="30" value="Robert">
            </div>
            <div class="col-xs-4 col-sm-3">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required" maxlength="30" value="Kim">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">성별 및 생일</label>
            <div class="col-xs-offset-1 col-xs-4 col-sm-offset-0 col-sm-3">
                <select class="form-control" name="gender">
                    <option id="gender-H" value="*H">숨김</option>
                    <option id="gender-M" value="*M">남자</option>
                    <option id="gender-F" value="*F">여자</option>
                    <option id="gender-E" value="*E">기타</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-5">
                <input type="text" class="form-control" name="birthday" placeholder="Birthday (YYYY-MM-DD)" data-vbirth="vbirth" value="1995-11-02">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">수정</button>
                <a class="btn btn-default" href="/account/profile/">초기화</a>
            </div>
        </div>
    </fieldset>
</form>

<div class="modal fade" tabindex="-1" id="gender-type" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">성별 입력</h4>
            </div>
            <div class="text-center modal-body">
                <input type="text" class="form-control" name="custom-gender" maxlength="30" placeholder="type here...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<h3>SNS 계정</h3>


<p class="text-info">KAIST 구성원 인증을 하려면 KAIST SSO와 연결해야 합니다.</p>
<p class="text-danger">한번 KAIST SSO에 연결하면, 해제 할 수 없습니다.</p>



<div class="row">
    <div class="col-sm-offset-2 col-sm-3 social-panel">
        <div class="social-icon">
            <img class="disabled" src="/media/img/fb.png" alt="Facebook">
        </div>
        
        <form class="social-form" action="#" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='NmBFLY9zk6egfhT3sLuKP4GyHg7Q4PDivOhpYDhK3X3ZDOMRB9KcHSlZR0mp47vl' />
            <button type="submit" class="btn btn-primary">연결</button>
        </form>
        
    </div>
    <div class="col-sm-2 social-panel">
        <div class="social-icon">
            <img class="disabled" src="/media/img/tw.png" alt="Twitter">
        </div>
        
        <form class="social-form" action="#" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='NmBFLY9zk6egfhT3sLuKP4GyHg7Q4PDivOhpYDhK3X3ZDOMRB9KcHSlZR0mp47vl' />
            <button type="submit" class="btn btn-primary">연결</button>
        </form>
        
    </div>
    <div class="col-sm-3 social-panel">
        <div id="stop-connect-kaist" class="social-icon">
            <img class="disabled" src="/media/img/kaist.png" alt="KAIST">
        </div>
        
        <form class="social-form" action="#" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='NmBFLY9zk6egfhT3sLuKP4GyHg7Q4PDivOhpYDhK3X3ZDOMRB9KcHSlZR0mp47vl' />
            <button type="submit" class="btn btn-primary ">연결</button>
        </form>
        
    </div>
</div>

<!-- Tip Content -->
<ol id="joyRideTipContent">
   <li data-id="stop-connect-kaist" data-button="Next" data-prev-text="Prev" data-options="tipLocation:right;tipAnimation:fade;prev_button:true">
     <h2>포탈 연동</h>
     <p>카이스트 포탈 연동을 하셔야만 OTLPLUS 후기 작성이 가능합니다. 넙죽이 버튼을 기억해주세요!</p>
   </li>
</ol>


<script type="text/javascript">
$(function() {
    var common_gender = function(g) {
        return g == '*H' || g == '*M' || g == '*F' || g == '*E';
    };

    var g = '*M';
    if (common_gender(g))
        $("select[name=gender]").val(g);
    else if (g != '') {
        $("#gender-E").text("기타 (" + g + ")");
        $("#gender-E").attr("value", g);
        $("#gender-E").attr("selected", true);
        $("input[name=custom-gender]").val(g);
    }

    $("select[name=gender]").change(function() {
        var id = $("select[name=gender] option:selected").attr("id");
        if (id == 'gender-E')
            $("#gender-type").modal('show');
    });

    $("#gender-type").on('hide.bs.modal', function (e) {
        var g = $("input[name='custom-gender']").val().trim();
        var custom_option = $("#gender-E");
        if (common_gender(g)) {
            custom_option.attr("value", '*E');
            custom_option.text("기타");
            $("select[name=gender]").val(g);
            $("input[name=custom-gender]").val("");
        } else if (g == '') {
            custom_option.attr("value", '*E');
            custom_option.text("기타");
        } else {
            custom_option.attr("value", g);
            custom_option.text("기타 (" + g + ")");
        }
    });

    var option = {
        disable: true,
        custom: {
            vbirth: function(el) { var re = /^\d{4}-\d{2}-\d{2}$/; return el.val().trim() == '' || re.test(el.val()); }
        },
        errors: {
            vbirth: "Format should be YYYY-MM-DD"
        }
    };
    $('#profile').validator(option);
    
    $("input[name=birthday]").datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        yearRange: "1930:-00",
    });
});
</script>

    </section>
    <footer class="container">
        <p class="info">
            <a href="/credits/">만든 사람들</a> |
            <a href="/contact/">연락하기</a> |
            <a href="/terms/">이용 약관</a> |
            <a href="/privacy/">개인정보취급방침</a>
        </p>
        <p class="info">
            <a href="#">개발팀 (sso (at) sparcs.org)</a> |
            <a href="#">관리자 (sso.sysop (at) sparcs.org)</a>
        </p>
        <p class="copyright">
            Copyright © 2017,
            <a href="http://sparcs.org/">
                <span style="color:#FF3399">S</span><span style="color:#33CC66">P</span><span style="color:#00CCFF">A</span><span style="color:#FF9900">R</span><span style="color:#33CCCC">C</span><span style="color:#9966FF">S</span>
            </a>
            SSO Team</p>
    </footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71710431-1', 'auto');
        ga('send', 'pageview');

        $("#logout-link").click(function() {
            $("#logout-form").submit();
        });
    </script>
<!-- Run the plugin -->
 <script type="text/javascript" src="/media/js/joyride-master/jquery-1.10.1.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/jquery.cookie.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/modernizr.mq.js"></script>
 <script type="text/javascript" src="/media/js/joyride-master/jquery.joyride-2.1.js"></script>
 <script>
   $(window).load(function() {
     $('#joyRideTipContent').joyride({
       autoStart : true,
       postStepCallback : function (index, tip) {
       /*
       if (index == 2) {
         $(this).joyride('set_li', false, 1);
       }
       */
     },
     modal:true,
     expose: true
     });
    });
    $(document).on("click",".joyride-close-tip", function() {
        $(location).attr('href', "../")
    });
    $(document).on("click",".joyride-next-tip:eq(0)", function() {
        $(location).attr('href', "../tutorial3")
    });
    $(window).resize(function() {
        if ($(window).width()<768){
            $(location).attr('href', "/main")
        };
    });
  $(document).ready(function(){
    if ($(window).width()<768){
      $(location).attr('href', "/main")
    };
  });
 </script>
</body>
</html>
