#options {
    z-index: 1;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
    display: none;
    position: relative;
    margin-bottom: 25px;
}
#options.active {
    display: block;
}
@media (max-width: 767px) {
    #options {
        margin-top:20px !important;
        padding: 10px;
    }
}
#options .form-group {
    height: auto;
    margin-bottom: 10px;
}
#options .form-group:nth-last-of-type(1) {
    margin-bottom: 0;
}
#options .form-group label.control-label {
    padding-top: 0;
    border-right: 2px solid #aaaaaa;
}
#options .form-group .controls {
    padding-top: 0;
}
#options .form-group .controls label {
    font-size:16px;
    padding-right: 10px;
}
#options .form-group .controls label input[type="checkbox"],
#options .form-group .controls label input[type="radio"] {
    display: none;
}
#options .form-group .controls label span.fa-lg {
    width: 1em;
    height: 1em;
    color: #aaaaaa;
    font-size: 1em;
    line-height: 1em;
}
#options .form-group .controls label span.fa-lg i.fa-stack-2x {
    font-size: 1em;
}
#options .form-group .controls label span.fa-lg i.fa-stack-1x {
    display: none;
    font-size: 0.5em;
}
#options .form-group .controls label.active span.fa-lg {
    color: #e64c65;
}
#options .form-group .controls label.active span.fa-lg i.fa-stack-1x {
    display: inline-block;
}
.sort-title{
    width: 86px;
    padding-left: 7px;
    margin-right: 13px;
    font-size: 16px;
    text-align: center; 
}
