#contents {
    margin-top: -60px;
    >.row:nth-of-type(1) {
        background: url('/media/img/review/search/bg.jpg');
        background-size: 100% auto;
        background-position: center 0;
        form {
            position: relative;
            margin: 0;
            width: 100%;
            >div {
                padding-left: 5px;
                padding-right: 5px;
                >* {
                    width: 100%;
                    height: 46px;
                    border: none;
                    border-radius: 10px;
                }
                [type="button"], input[type="submit"] {
                    background-color: rgb(230, 76, 101);
                }
                @media (max-width: 767px) {
                    input[type="text"] {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            height: 250px !important;
            margin-top: 50px;
            form {
                top: 100px;
            }
        }
        @media (min-width: 768px) {
            height: 350px;
            form {
                top: 150px;
            }
        }
        @media (min-width: 992px) {
            height: 450px;
            form {
                top: 200px;
            }
        }
        @media (min-width: 1200px) {
            height: 550px;
            form {
                top: 250px;
            }
        }
    }
    >.row:nth-of-type(2) {
        background-color: rgb(249, 240, 240);
        >div {
            >h2 {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }
}