{% extends "review/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/css/components/header/result.css">
  <link rel="stylesheet" type="text/css" href="/media/css/review/components/option.css">
  <link rel="stylesheet" type="text/css" href="/media/css/review/components/filter.css">
  <link rel="stylesheet" type="text/css" href="/media/css/review/components/expect.css">
  <link rel="stylesheet" type="text/css" href="/media/css/review/result.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <style type="text/css">
    .block_wrap
    {
      font-size: 0;
    }

    .block
    {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 54px;
      background-color: #a7a7a7;
      border-radius: 2px;
      margin: 10px;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
    }
    .block:hover
    {
        background-color: #c53c50;
    }
    .block.active
    {
      background-color: #e44e68;
    }

    .dummy
    {
      display: inline-block;
      width: 90px;
      height: 0px;
      margin: 0 10px;
      vertical-align: top;
    }

    .content > h4
    {
      margin-top : 30px;
    }

    .content > .people
    {
      margin-bottom : 7px;
    }

    .content > .people > div
    {
      font-size: 0.7em;
      color: #999;
    }
  </style>

{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript" src="/media/js/components/header.js"></script>
  <script type="text/javascript" src="/media/js/review/components/course.js"></script>
  <script type="text/javascript" src="/media/js/review/components/option.js"></script>
  <script type="text/javascript" src="/media/js/review/result.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(".block").click(function() {
      $(".block").removeClass("active");
      $(this).addClass("active");

      $(".content").addClass("hidden");
      $(".content."+$(this).attr("data-taget")).removeClass("hidden");
    });
  </script>

{% endblock %}

{% block header %}
  {% include 'components/header.html' %}
{% endblock %}

{% block contents %}
   <div class="row">
     <div class="col-xs-22 col-xs-offset-1 col-sm-20 col-sm-offset-2 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4">

       <div class="list-group sort_result" >
            <div class="list-group-item" style="border-radius:4px; margin-top:20px;text-align:center;padding:20px 50px 20px 50px" >

                <div class="block_wrap">
                    <div class="block" data-taget="tab1">LKIN</div>
                    <div class="block" data-taget="tab2">OTL<br>모의시간표</div>
                    <div class="block" data-taget="tab3">OTL<br>추가개발</div>
                    <div class="block" data-taget="tab4">OTL<br>과목사전</div>
                    <div class="block" data-taget="tab5">OTL PLUS<br>과목사전</div>
                    <div class="block active" data-taget="tab6">OTL PLUS<br>모의시간표</div>
                    <div class="block" data-taget="tab7">SYSOP</div>
                    <div class="dummy"></div>
                    <div class="dummy"></div>
                    <div class="dummy"></div>
                    <div class="dummy"></div>
                    <div class="dummy"></div>
                    <div class="dummy"></div>
                </div>

                <h1>Credit</h1>

                <div class="content tab1 hidden">
                    <h4>Project Manager</h4>

                    <h4>Designer</h4>

                    <h4>Developer</h4>
                </div>

                <div class="content tab2 hidden">
                    <h4>Developer</h4>
                    <div class="people">김민우</div>
                    <div class="people">김종균</div>
                    <div class="people">김준기</div>
                    <div class="people">유충국</div>

                    <h4>Special Thanks To</h4>
                    <div class="people">강철</div>
                    <div class="people">안병욱</div>
                </div>

                <div class="content tab3 hidden">
                    <h4>Project Manager</h4>
                    <div class="people">
                        배성경
                        <div>(2011)</div>
                    </div>
                    <div class="people">
                        김재겸
                        <div>(2012)</div>
                    </div>

                    <h4>Developer</h4>
                    <div class="people">김재겸</div>
                    <div class="people">박일우</div>
                    <div class="people">배성경</div>
                    <div class="people">안재만</div>
                    <div class="people">이윤석</div>
                    <div class="people">정재성</div>
                    <div class="people">조유정</div>
                </div>

                <div class="content tab4 hidden">
                    <h4>Project Manager</h4>
                    <div class="people">
                        유민정
                        <div>(2012.05 ~ 2012.09)</div>
                    </div>
                    <div class="people">
                        마재의
                        <div>(2012.09 ~ 2013.03)</div>
                    </div>
                    
                    <h4>Designer</h4>
                    <div class="people">박지향</div>

                    <h4>Developer</h4>
                    <div class="people">김정민</div>
                    <div class="people">마재의</div>
                    <div class="people">박중언</div>
                    <div class="people">박지혁</div>
                    <div class="people">유민정</div>
                    <div class="people">윤필립</div>
                    <div class="people">이태현</div>
                    <div class="people">정종혁</div>
                    <div class="people">정창제</div>
                    <div class="people">채종욱</div>
                </div>

                <div class="content tab5 hidden">
                    <h4>Project Manager</h4>
                    <div class="people">
                        황태현
                        <div>(2015.09 ~ 2015.11)</div>
                    </div>
                    <div class="people">
                        서동민
                        <div>(2015.12 ~ 2016.06)</div>
                    </div>

                    <h4>Designer</h4>
                    <div class="people">김찬욱</div>

                    <h4>Developer</h4>
                    <div class="people">고지훈</div>
                    <div class="people">김강인</div>
                    <div class="people">김재성</div>
                    <div class="people">서동민</div>
                    <div class="people">이강원</div>
                    <div class="people">조성원</div>
                    <div class="people">최정운</div>
                    <div class="people">한승현</div>
                    <div class="people">황태현</div>
                </div>

                <div class="content tab6">
                    <h4>Project Manager</h4>
                    <div class="people">
                        김재성
                        <div>(2016.09 ~ 2017.05)</div>
                    </div>
                    <div class="people">
                        한승현
                        <div>(2017.06 ~ )</div>
                    </div>

                    <h4>Designer</h4>
                    <div class="people">한승현</div>

                    <h4>Developer</h4>
                    <div class="people">고지훈</div>
                    <div class="people">김재성</div>
                    <div class="people">김태준</div>
                    <div class="people">서덕담</div>
                    <div class="people">오종훈</div>
                    <div class="people">이강원</div>
                    <div class="people">조형준</div>
                    <div class="people">최정운</div>
                    <div class="people">한승현</div>
                </div>

                <div class="content tab7 hidden">
                    <h4>LKIN</h4>
                    <div class="people">
                        서창민
                        <div>(2009 ~ 2010)</div>
                    </div>
                    <div class="people">
                        이근홍
                        <div>(2011 ~ 2012)</div>
                    </div>

                    <h4>OTL</h4>
                    <div class="people">
                        배성경
                        <div>(2011)</div>
                    </div>
                    <div class="people">
                        김재겸
                        <div>(2012)</div>
                    </div>
                    <div class="people">
                        유민정
                        <div>(2012.05 ~ 2012.09)</div>
                    </div>
                    <div class="people">
                        마재의
                        <div>(2012.09 ~ 2015.04)</div>
                    </div>
                    <div class="people">
                        황태현
                        <div>(2015.05 ~ 2015.11)</div>
                    </div>
                    <div class="people">
                        서동민
                        <div>(2015.12 ~ 2016.05)</div>
                    </div>
                    <div class="people">
                        김재성
                        <div>(2016.06 ~ 2017.06)</div>
                    </div>

                    <h4>OTL PLUS</h4>
                    <div class="people">
                        한승현
                        <div>(2017.06 ~ )</div>
                    </div>
                </div>

            </div>
       </div>
     </div>
   </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}

