{% extends "timetable/base.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
  OTL - 모의시간표
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  link (rel="stylesheet" type="text/css" href="/media/css/global.css")
  link (rel="stylesheet" type="text/css" href="/media/css/components/header/result.css")
  link (rel="stylesheet" type="text/css" href="/media/css/timetable/table.css")
  link (rel="stylesheet" type="text/css" href="/media/css/timetable/timetable.css")
{% endblock %}

{% block content %}
#page-container
  #center
    #timetable
      #timetable-wrap
        #colheaders
          - var week = ['월', '화', '수', '목', '금']
          each day in week
            .chead
              span #{day}요일
        #tablebody
          #rowheaders
            - var time = ["",9,10,11,12,1,2,3,4,5,6,7,8,9,10,11]
            each t in time
              .rhead
                span.rheadtext #{t}
          #grid-wrap
            #grid
              #timetable-contents
                - var n5 = [1,2,3,4,5]
                - var n15 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                each _ in n5
                  .cellcolumn
                    each _ in n15
                      .cell1
                      .cell2
                    .cell1
                    .cell2.cell-bottom
              #cellselected
{% endblock %}
