<div id="options" class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">분류</label>
    <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
      <div class="checkbox">
        <label>
          전체
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          전필
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          전선
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기필
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기선
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          교양
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          자선
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기타
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학과</label>
    <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
      <div class="checkbox">
        <label>
          전체
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          건환
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기경
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기계
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          물리
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          바공
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          산공
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          산디
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          생명
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          생화공
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          수리
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          신소재
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          원양
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          전자
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          전산
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          항공
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          화학
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          기타
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학년</label>
    <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
      <div class="checkbox">
        <label>
          전체
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          1학년
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          2학년
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          3학년
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          4학년
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          석사
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          박사
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-6 col-sm-4 col-md-3 col-lg-3 control-label">학기</label>
    <div class="col-xs-18 col-sm-20 col-md-21 col-lg-21">
      <div class="checkbox">
        <label>
          전체
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          16봄
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          15가을
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          15봄
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          14가을
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
        <label>
          고대
          <input type="checkbox">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>