.navbar {
    border: none;
    margin-bottom: 0;
    border-bottom: none;
    background: #e54c65;
}
.navbar * {
    background: #e54c65;
}
.navbar .navbar-header .navbar-brand {
    color: #ffffff;
    font-weight: bolder;
}
.navbar .navbar-header .navbar-toggle:hover,
.navbar .navbar-header .navbar-toggle:focus {
    background: transparent;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar .navbar-collapse ul.navbar-nav a {
    color: #ffffff !important;
}
.navbar .navbar-collapse ul.navbar-nav a:hover,
.navbar .navbar-collapse ul.navbar-nav a:focus {
    color: #dddddd !important;
}
.navbar .navbar-collapse ul.navbar-nav li.active a,
.navbar .navbar-collapse ul.navbar-nav li.dropdown a {
    background: transparent;
}
.navbar .navbar-collapse ul.navbar-nav li.active a:hover,
.navbar .navbar-collapse ul.navbar-nav li.active a:focus,
.navbar .navbar-collapse ul.navbar-nav li.dropdown a:hover,
.navbar .navbar-collapse ul.navbar-nav li.dropdown a:focus {
    background: transparent;
}
.navbar .navbar-collapse ul.navbar-nav.navbar-right li {
    position: relative;
}
.navbar .navbar-collapse ul.navbar-nav.navbar-right li .img-circle {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-right: 5px;
}
.navbar .navbar-collapse form.navbar-form input {
    background: #ffffff;
}
.navbar .navbar-collapse form.navbar-form button {
    border: none;
    color: #ffffff;
    background: #ce1c3a;
}
.navbar .navbar-collapse form.navbar-form button.active {
    color: #000000;
    background: #ffffff;
}
@media (max-width: 767px) {
    .navbar .navbar-collapse {
        background: #e54c65;
    }
    .navbar .navbar-collapse li.divider {
        background: #e5e5e5 !important;
    }
    .header_hide{
        display:inline-block !important;
    }
    .hid-r{
      display:none;
    }
}
@media (max-width: 992px) {
    .header_hide{
        display:none;
    }
}

@media (min-width: 768px){
    .navbar-header{
        white-space: nowrap;
        width:8.33%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .header-middle{
        width:83.33%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left:8.33%;

    }
    .header-end{
        margin-top: -50px;
        float: right !important;
        margin-right: 15px;

    }
    .hid{
        display: none;
    }
    .float-right{
        float:right !important;
    }


}
@media (min-width: 992px){
    .navbar-header{
        width:12.5%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .header-middle{
        width:75%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left:12.5%;

    }
}
@media (min-width: 1200px){
    .navbar-header{
        width:16.66%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-middle{
        width:66.66%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left:16.66666667%;

    }

}
/*# sourceMappingURL=result.css.map */
