#contents {
    margin-top: 50px;
    padding-top: 25px;
    background-color: #f9f0f0;
    #options {
        position: relative;
        margin-top: 20px;
        &:active {
            display: block;
        }
    }
}