table 
{
    border-collapse: collapse;
    font-size: 12px; 
    width: 100%; 
    cursor: default; 
    margin-bottom:10px;
    border-bottom: 1px solid #D9D9D9;
}

table th
{
    text-align:center;
    padding: 3px 4px;
    border: 1px solid;
}

table tr td
{
    text-align:center;
    padding: 4px 0 4px 9px;
    padding 3px 8px;
    border: 1px solid;
}
