<div class="panel panel-default course">
    <div class="panel-body">
        <div class="row">
            <div class="label-title ellipsis-wrapper col-xs-24 col-sm-12 col-md-13 col-lg-14">
                <h4 style="margin-top:6px; line-height:1.2" class="ellipsis-content">{{result.title}}</h4>
            </div>
            <div class="col-xs-24 col-sm-12 col-md-11 col-lg-10">
                <input type="hidden" name="course_id" value="{{result.id}}">
                <span class="hid-r">
                {% include 'review/components/score_table.html'%}
                </span>
            </div>
            <div class="label-row col-xs-24">
                <table>
                <tr>
                    <td style="vertical-align:top">
                <span class="label-title">
                담당 교수
                </span>
                    </td>
                    <td>
<div>
                {% for pinfo in result.prof_info %}
                <span class="label-description">
                   <span class="professors">
                        <label>
                            <input class="professor chkone" type="checkbox" autocomplete="off" name="{{result.id}}" value="{{pinfo.id}}">
                            <a href="/review/result/course/{{result.id}}/{{pinfo.id}}"><span class="label label-default">{{pinfo.name}}</span></a>
                        </label>
                    </span>
                </span>
                {% endfor %}
</div>
                    </td>
                </tr>
                </table>
            </div>
            <div class="label-row col-xs-24" style="overflow-x: hidden;">
                <table>
                    <tr>
                        <td style="vertical-align:top">
                <span class="label-title">
                한줄 요약
                </span>
            </td>
    </tr>
</table>
<div class="table-responsive" style="margin-top: -31.6px; margin-bottom:-11px; width: auto; border: 0px;margin-left: 82px;">
          <table class="table">
              <tr>
                  <td style="border-top: 0px;">
                <span class="label-description" style="line-height: 23px;">
                    {{result.summury}}
                </span>
            </td>
        </tr>
    </table>
</div>
            </div>
            <div class="col-xs-24">
                <span class="score_table_bottom hid">
                {% include 'review/components/score_table.html'%}
                </span>
            </div>

        </div>
    </div>
</div>
