<div class="panel panel-default course">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-24 col-sm-14 col-md-15 col-lg-16">
        <table>
          <thead>
            <tr>
              <th class="panel-title" colspan=2>
                <h4>{{result.title}}</h4>
                <input type="hidden" name="course_id" value="{{result.id}}">
              </th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <th>
                <span class="label-title">
                  담당 교수
                </span>
              </th>
              <td>
              {% for pinfo in result.prof_info %}
                <span class="label-description">
                  <span class="professors">
                    <label>
                      <input class="professor chkone" type="checkbox" autocomplete="off" name="{{result.id}}" value="{{pinfo.id}}">
                      <a href="/review/result/course/{{result.id}}/{{pinfo.id}}"><span class="label label-default">{{pinfo.name}}</span></a>
                    </label>
                  </span>
                </span>
              {% endfor %}
              </td>
            </tr>
            <tr>
              <th>
                <span class="label-title">
                  한줄 요약
                </span>
              </th>
              <td>
                <span class="label-description">
                  등록되지 않았습니다. <i class="fa fa-pencil"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-24 col-sm-10 col-md-9 col-lg-8 " style="min-width:230px">
          <div class="score_box">
        <h4 class="text-center">
          <span class="label label-danger">
            평균 점수
          </span>
        </h4>
        <div>
          <div class="col-xs-12">
              <table class="score_table table-condensed text-right">
                  <tr>
                      <td>
                          성적
                      </td>
                      <td>
                          {% for pinfo in result.prof_info %}
                          {% for numbergrade, lettergrade in result.gradelist %}
                          {% ifequal numbergrade pinfo.score.grade %}
                           <span class="score score_letter c{{result.id}} p{{pinfo.id}} {{pinfo.name}}" >{{lettergrade}}</span>
                          {% endifequal %}
                          {% endfor %}
                          {% endfor %}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          널널
                      </td>
                      <td>
                          {% for pinfo in result.prof_info %}
                          {% for numbergrade, lettergrade in result.gradelist %}
                          {% ifequal numbergrade pinfo.score.load %}
                           <span class="score score_letter c{{result.id}} p{{pinfo.id}} {{pinfo.name}}" >{{lettergrade}}</span>
                          {% endifequal %}
                          {% endfor %}
                          {% endfor %}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          강의
                      </td>
                      <td>
                          {% for pinfo in result.prof_info %}
                          {% for numbergrade, lettergrade in result.gradelist %}
                          {% ifequal numbergrade pinfo.score.speech %}
                           <span class="score score_letter c{{result.id}} p{{pinfo.id}} {{pinfo.name}}" >{{lettergrade}}</span>
                          {% endifequal %}
                          {% endfor %}
                          {% endfor %}
                      </td>
                  </tr>
              </table>
          </div>
          <div class="col-xs-12 text-center" style="position:absolute; margin-left:90px">
            <div>
                {% for pinfo in result.prof_info %}
                {% for numbergrade, lettergrade in result.gradelist %}
                {% ifequal numbergrade pinfo.score.total %}
                <span class="score score_total c{{result.id}} p{{pinfo.id}} {{pinfo.name}}" >{{lettergrade}}</span>
                {% endifequal %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
