<div class="panel panel-default course">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-24 col-sm-18">
        <div class="panel-title">
          <h4>Special Lecture on Art [사랑의 담론]</h4>
        </div>
        <div>
          <span class="label-title">
            담당 교수
          </span>
          <span class="label-description">
            <div class="professors">

              <label>
                <input class="professor" type="checkbox" autocomplete="off" name="type">
                <span class="label label-default">교수님</span>
              </label>

              <label>
                <input class="professor" type="checkbox" autocomplete="off" name="type">
                <span class="label label-default">교수님</span>
              </label>

              <label>
                <input class="professor" type="checkbox" autocomplete="off" name="type">
                <span class="label label-default">교수님</span>
              </label>

              <label>
                <input class="professor" type="checkbox" autocomplete="off" name="type">
                <span class="label label-default">교수님</span>
              </label>

              <label>
                <input class="professor" type="checkbox" autocomplete="off" name="type">
                <span class="label label-default">교수님</span>
              </label>

            </div>
          </span>
        </div>
        <div>
          <span class="label-title">
            한줄 요약
          </span>
          <span class="label-description">
            사랑이란 무엇인가? 에 대해 철학적이고 논증적 방법으로 알아보는 과목 <i class="fa fa-pencil"></i>
          </span>
        </div>
        <div>
          <span class="label-title">
            주 교재
          </span>
          <span class="label-description">
            Gyojae Introduction (6th) <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-24 col-sm-6">
        <h4 class="text-center">
          <span class="label label-danger">
            평균 점수
          </span>
        </h4>
        <div>
          <div class="col-xs-12">
            <p class="clearfix">
              성적 <span>3.9</span>
            </p>
            <p class="clearfix">
              널널 <span>4.9</span>
            </p>
            <p class="clearfix">
              강의 <span>4.6</span>
            </p>
          </div>
          <div class="col-xs-12">
            <div>
              <span>4.7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>