{% if view == 'insert' %}
{% ifnotequal reviewmsg "" %}
<div class="alert alert-info">
    {{reviewmsg|safe|escape}}
</div>
{% endifnotequal %}
<div class="panel expect" style="display:inline-block;padding-right:5px">
    <div class="panel-title" style="display:inline-block">
      <h4 style="display:inline-block">학기 선택</h4>
    </div>
  <div class="panel-body" style="line-height:2.3;padding-left:0px; padding-right:0px ;padding-bottom:5px;display:inline-block">
        {%for sem_num,sem_korstr in semesters%}
        <span class="label-a">
            <a href="/review/insert/-1/{{sem_num}}/" id="{{sem_num}}" class="label deactive">
                {{sem_korstr}}
            </a>
         </span>
        {%endfor%}
  </div>
</div>
{% endif %}
<div class="panel-b col-xs-24 expect" >
    <div class="panel-title">
      {% if view == 'insert' %}
        <h4>어떤 과목의 후기를 쓰실건가요?</h4>
      {% else %}
        <h4>혹시 이 교수님을 검색하셨나요?</h4>
      {% endif %}
    </div>
  <div class="panel-body">
      <div class="col-xs-24" style="padding:0px">
          {% for lecture in lectures %}
            {% if view == 'insert' %}
              <span class="label-b">
                  <a id="l{{lecture.lecid}}" href="/review/insert/{{ lecture.lecid }}/{{ lecture.lectime }}/" class="label deactive {% if lecture.comment != "" %}written{% endif %}">
                  {{ lecture.title }}({{ lecture.old_code }} {{ lecture.professor }}){% ifequal semester "0"%}({{ lecture.year }} {{ lecture.sem_char }}){% endifequal %}
                </a>
              </span>
            {% else %}
              <span class="h4">
                <a href="/review/result/professor/{{ lecture.id }}" class="label label-default">
                  {{ lecture.name }}
                </a>
              </span>
            {% endif %}
          {% endfor %}
    </div>
  </div>
</div>
