{% if view == 'insert' %}
{% ifnotequal reviewmsg "" %}
<div class="alert alert-info">
    {{reviewmsg|safe|escape}}
</div>
{% endifnotequal %}
<div class="panel panel-default expect" style="margin-bottom:20px">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>학기를 선택해 주세요</h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-24">
        <span class="h4">
          <a href="/review/insert/" class="label label-default">
            전체 학기
          </a>
        </span>
        <span class="h4">
          <a href="/review/insert/-1/153/" class="label label-default">
            2015년 가을
          </a>
        </span>
        <span class="h4">
          <a href="/review/insert/-1/151/" class="label label-default">
            2015년 봄
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="panel panel-default expect" style="margin-bottom:20px">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>혹시 이 과목(교수)을 검색하셨나요?</h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-24">
        {% if lectures|length == 0 %}
          <span class="h4">
            <a href="" class="label label-default">
              세상끝에 홀로 남겨져가고
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              혼자였나요
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              아주 오랫도록 내가 지켜낼
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              사랑이니까
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              Love In The Ice
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              넌 나를 원해 넌 내게 빠져 넌 내게 미쳐
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              I got you, under my skin
            </a>
          </span>
          <span class="h4">
            <a href="" class="label label-default">
              주문(Mirotic)
            </a>
          </span>
        {% else %}
          {% for lecture in lectures %}
            {% if view == 'insert' %}
              <span class="h4">
                <a href="/review/insert/{{ lecture.lecid }}/{{ lecture.lectime }}/" class="label label-default">
                  {{ lecture.title }}({{ lecture.old_code }} {{ lecture.professor }}){% ifequal semester "0"%}({{ lecture.year }} {{ lecture.sem_char }}){% endifequal %}
                </a>
              </span>
            {% else %}
              <span class="h4">
                <a href="/review/result/?q={{ lecture }}" class="label label-default">
                  {{ lecture }}
                </a>
              </span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
