<div class="panel panel-default course">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-24 col-sm-18">
        <div class="panel-title">
            <h4>{{result.professor_name}}</h4>
        </div>
        <div>
          <span class="label-title">
            담당 과목
          </span>
          <span class="label-description">
            <div class="professors">
              <label>
                <input class="professor chkall chkone" type="checkbox" name="selected_lecture" checked="checked">
                <span class="label label-default">ALL</span>
              </label>

              {% for lecture in result.lecture_list %}
              <label>
                <input class="professor chkelem chkone" type="checkbox" name="selected_lecture">
                <span class="label label-default">{{lecture.title}}</span>
              </label>
              {% endfor %}
            </div>
          </span>
        </div>
        <div>
          <span class="label-title">
            한줄 요약
          </span>
          <span class="label-description">
            등록되지 않았습니다. <i class="fa fa-pencil"></i>
          </span>
        </div>
        <div>
          <span class="label-title">
            주 교재
          </span>
          <span class="label-description">
            등록되지 않았습니다. <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-24 col-sm-6">
        <h4 class="text-center">
          <span class="label label-danger">
            평균 점수
          </span>
        </h4>
        <div>
          <div class="col-xs-12">
            <p class="clearfix">
            성적 <span>{{result.score.grade|floatformat:1}}</span>
            </p>
            <p class="clearfix">
            널널 <span>{{result.score.load|floatformat:1}}</span>
            </p>
            <p class="clearfix">
            강의 <span>{{result.score.speech|floatformat:1}}</span>
            </p>
          </div>
          <div class="col-xs-12">
            <div>
                <span>{{result.score.total|floatformat:1}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
