<div class="panel panel-default review">
  <button class="likes" disabled>
    <span>
      <i class="fa fa-plus"></i> <span>{{ result.like }}</span>
    </span>
  </button>
  <div class="panel-body container-fluid">
    <div class="row">
        <div class="col-xs-24 lecture ellipsis-wrapper" style="cursor:Pointer" id="{{result.id}}">
            <input type="hidden" name="{{result.id}}" value="{{result.course_id}}">
            <h4 style="line-height:1.2" class="ellipsis-content" >{{ result.lecture_title }} <small class="text-muted">{{ result.professor_name }} {{ result.lecture_year }}</small></h4>
      </div>
      <div class="col-xs-24 comment text-muted" style="cursor:Pointer" id="{{result.id}}">
         <input type="hidden" name="{{result.id}}" value="{{result.id}}">
        <p>{{ result.comment|linebreaks }}</p>
      </div>
      <div class="col-xs-24 statics text-right" style="cursor:default">
        <span class="text-left clearfix">
          성적
          {% for numbergrade, lettergrade in result.gradelist %}
            {% ifequal numbergrade result.score.grade %} <span class="grade pull-right">{{ lettergrade }}</span>{% endifequal %}
          {% endfor %}
        </span>
        {% for i in "123" %}
        <span class="text-left clearfix">
         {% cycle "널널" "강의" "종합" %}
         {% cycle result.score.load result.score.speech result.score.total as whichgrade silent %}
           {% for numbergrade, lettergrade in result.gradelist %}
             {% ifequal numbergrade whichgrade %} <span class="grade pull-right">{{ lettergrade }}</span>{% endifequal %}
           {% endfor %}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
