<div class="cursor:default important!; score_table text-left col-xs-24">
          <div class="col-xs-12 col-sm-6 score-elem">성적&nbsp{% for numbergrade, lettergrade in result.gradelist %}{% ifequal numbergrade result.score.grade %}<span class="score score_letter" >{{lettergrade}}</span>{% endifequal %}{% endfor %}</div>
          <div class="col-xs-12 col-sm-6 score-elem">널널&nbsp{% for numbergrade, lettergrade in result.gradelist %}{% ifequal numbergrade result.score.load %}<span class="score score_letter" >{{lettergrade}}</span>{% endifequal %}{% endfor %}
      </div>
          <div class="col-xs-12 col-sm-6 score-elem">강의&nbsp{% for numbergrade, lettergrade in result.gradelist %}{% ifequal numbergrade result.score.speech %}<span class="score score_letter" >{{lettergrade}}</span>{% endifequal %}{% endfor %}
      </div>
          <div class="col-xs-12 col-sm-6 score-elem">종합&nbsp{% for numbergrade, lettergrade in result.gradelist %}{% ifequal numbergrade result.score.total %}<span class="score score_letter" >{{lettergrade}}</span>{% endifequal %}{% endfor %}
      </div>
</div>

